{% raw %}
    Vue.component("navbar-item", {
        props: {
            text: {},
            href: {},
            active: {
                default: false,
            },
        },
        template: `
<a ref="a" class="transition-all duration-300 inline-block hover:opacity-70" v-html="text" :href="href"></a>
`,
    });
    Vue.component("navbar", {
        mounted() {
            document.addEventListener('click', ()=>{
                if (this.menu){
                    this.$refs.menu.removeAttribute('style')
                    this.menu = false;
                }
            });
        },

        props: {
            active_item: { default: false },
            avatar: {},
            {% endraw %}
                message_count: { default: {{ not_list }} },
            {% raw %}

        },
        data() {
            return {
                menu: false
            };
        },
        methods: {
            redirect(x) {
                location.href = x;
            },
            menu_() {
                this.menu = true;
                setTimeout(()=>{
                    this.$refs.menu.style.transform = "translateY(20px)";
                }, 20)
            }
        },
        template: `
<nav class="w-full fixed overflow-visible flex bg-white items-center justify-between px-3 shadow-lg z-50">
    <img alt="logo" class="logo size-10 transition-all duration-300" src="/static/pictures/favicon.png" />
    <div class="flex justify-center items-center p-1 gap-3">
        <navbar-item href="/explore" ref="profile" text="گشت و گذار"
            :class="{ active: active_item === 'explore' }"></navbar-item>
        <navbar-item href="/chat" ref="chatroom" text="گفتگو" :class="{ active: active_item === 'chat' }"></navbar-item>
        <navbar-item href="/" ref="chatroom" text="خانه" :class="{ active: active_item === 'home' }"></navbar-item>
    </div>
    <div class="flex overflow-visible items-center justify-center flex-column gap-4 h-full text-2xl profile-nav flex-none">
        <i @click="redirect('/notifications')" :class="'fi fi-rr-envelope ' + (active_item === 'messages' ? 'active' : '')">
            <div v-if="Number(message_count)" class="note_num absolute text-center text-white text-lg pt-1 bg-[#ff2727] size-5 rounded-full flex items-center justify-center">
                {{ Number(message_count) }}
            </div>
        </i>
        <i @click="redirect('/search')" :class="'fi fi-rr-search ' + (active_item === 'search' ? 'active' : '')"></i>
        <i @click="redirect('/add')" :class="'fi fi-rr-square-plus ' + (active_item === 'add' ? 'active' : '')"></i>
        {% endraw %}
        <img alt="avatar" @click.stop="menu_()" class="rounded-full size-10" src="{{ current_user.avatar }}" />
        <div ref="menu" class='menu flex items-center justify-center p-3 shadow-lg bg-[#f6f8ff] shadow rounded-xl absolute transition-all duration-300 flex-col' v-show="menu">
            <div @click="redirect('/@{{ current_user.username }}/posts')" class="item">صفحه پروفایل</div>
            <div @click="redirect('/add')" class="item blue">افزودن پست</div>
            <div @click="redirect('/me')" class="item">تنظیمات حساب کاربری</div>
            <div @click="redirect('/security')" class="item">امنیت</div>
            <div @click="redirect('/logout')" class="item red">خروج از حساب</div>
        </div>
    </div>
</nav>
`,
    });