{% extends "base.html" %} {% block head %}
<link rel="stylesheet" href="/static/css/error.css" />
{% endblock %} {% block Title %}404 - یافت نشد!{% endblock %} {% block content
%}
<div id="app">
    {% if current_user.is_authenticated %}
    <navbar></navbar>
    {% endif %}
    <div class="center">
        <h1 class="code">404</h1>
        <h2 class="type">صفحه یافت نشد</h2>
        <div class="text_wrapper">
            <p dir="rtl" class="text">
                متاسفیم! این صفحه وجود ندارد یا حذف شده است، شما می توانید به
                <a class="link purple" href="/"
                    >صفحه اصلی</a
                >
                یا
                <a class="link blue" href="/search"
                    >جستجو</a
                >
                بروید
            </p>
        </div>
    </div>
</div>

{% raw %}
<script>
    app = new Vue({
        el: "#app",
        data: {}
    });
</script>
{% endraw %} {% endblock %}
