{% extends "base.html" %} {% block head %}
<link rel="stylesheet" href="/static/css/error.css" />
{% endblock %} {% block Title %}500 - خطای سرور!{% endblock %} {% block content
%}
<div id="app">
    {% if current_user.is_authenticated %}
    <navbar></navbar>
    {% endif %}
    <div class="center">
        <h1 class="code">500</h1>
        <h2 class="type">مشکل سرور</h2>
        <div class="text_wrapper">
            <p dir="rtl" class="text">
               متاسفیم! سرور با مشکل مواجه شده است، کمی بعد دوباره امتحان کنید یا به
                <a class="link purple text-white" href="/"
                    >صفحه اصلی</a
                >
                بروید
            </p>
        </div>
    </div>
</div>

{% raw %}
<script>
    app = new Vue({
        el: "#app",
        data: {}
    });
</script>
{% endraw %} {% endblock %}
