* {
    overflow: hidden !important;
}
.profile-nav, nav {
    overflow: visible !important;
}
.message {
    min-height: 54px;
    overflow: visible !important;
}
.message::after {
    width: 30px;
    height: 30px;
    position: absolute;
    content: "";
    bottom: 0;
    z-index: -111;
}
.message.right::after {
    background-color: #a0a0a0;
    transform: skewY(30deg);
    right: 0;
}
.message.left::after {
    left: 0;
    transform: skewY(-30deg);
    background-color: white;
}
.date {
    position: absolute;
    font-size: 0.7rem;
    bottom: -1rem;
    left: 2px;
}
.message i {
    position: absolute;
    font-size: 0.7rem;
    bottom: 2px;
    right: 10px;
}
.content {
    overflow-y: auto !important;
    height: calc(100vh - 200px);
    width: 98vw;
}
.mess-container {
    width: 93vw;
}
.mess-container div:nth-child(1) {
    position: relative;
    padding-left: 45px;
}
.user-pic-mess {
    bottom: 1px;
    left: 4px;
}
.username {
    bottom: 10px;
    left: 50px;
}
.user-pic-mess:hover ~ .username {
    opacity: 1;
}
pre {
    margin-bottom: 20px;
}
.send-input .send-input-text {
    outline: none;
    font-size: 1.5rem;
    width: 93%;
}
i.send-active {
    color: #0a6cff;
}
.send-input i {
    font-size: 1.5rem;
    cursor: pointer;
    width: 5%;
    margin-top: .8rem;
}
ul {
    list-style: none;
}
.context-menu {
    position: absolute;
    box-shadow: 3px 3px 10px #0000004d;
}
nav.nav {
    overflow: visible !important;
}
:root {
    --card: #1a1c38;
    --icons: #2f315c;
    --hover: #ea4c89;
    --button-hover: #ff5722;
    --link-color: #5b60bf;
    --shadow: 0 0 5px var(--hover), 0 0 25px var(--hover), 0 0 50px var(--hover),
        0 0 100px var(--hover);
}
h4 {
    color: white;
    font-size: 50px;
}
.white {
    width: 100vw;
    height: 30px;
}
.ove-s {
    overflow-x: scroll !important;
}
.ove-s::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* make scrollbar transparent */
}