a {
    text-decoration: none;
    color: black;
}
.user div p {
    font-size: 1.5rem;
    transition: all 0.1s linear;
}
.user div p:hover {
    color: #1975ff;
}
.user div p svg {
    transform: scale(0.5);
    padding-top: 10px;
}
.user img {
    border-radius: 100% !important;
    width: 70px !important;
    height: 70px !important;
}
.transition-all i {
    line-height: .75rem;
    font-size: 1.2rem;
}
.liked {
    border: 2px solid red !important;
    color: var(--red) !important; 
}
.bottom .like:hover {
    opacity: 0.7;
}
@media screen and (max-width: 930px) {
    .posts {
        width: 98%;
        margin-left: 10px;
    }
}
.post .flex-col a {
    color: #2c5dff;
}
.post .flex-col a:not(.text-xl):hover {
    text-decoration: underline;
}
.img {
    max-height: 30rem;
    width: 20rem;
    border-radius: 10px;
}