#app {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    margin-top: 100px;
    gap: 30px;
}
img.avatar {
    width: 200px;
    height: 200px;
    border-radius: 100%;
}
.input {
    border-radius: 5px;
    resize: none;
    padding: 5px;
    color: var(--blue);
    width: 200px;
    font-size: 1.2rem;
    border: 2px solid var(--blue);
    text-align: center;
}
textarea.input{
    font-size: .7rem;
}
.input:focus {
    color: black;
}
.avatars{
    display: flex;
    width: 90vw;
    align-items: center;
    justify-content: center;
    margin-bottom: 40px;
    gap: 15px;
    flex-wrap: wrap;
    pointer-events: none;
}
.avatars img{
    pointer-events: all;
    border-radius: 100%;
    cursor: pointer;
    transition: all .3s ease;
    width: 80px;
}
.avatars:hover img:hover{
    transform: scale(1.1);
}
.avatars:hover img:not(:hover){
    transform: scale(.9);
    opacity: .8;
}