.post {
    margin-top: 70px;
    width: 85%;
}
.gray-shadow{
    box-shadow: 3px 3px 0 gray;
    outline: none;
}
.comment-textarea:focus, .comment-textarea:active {
    box-shadow: none;
    transform: translateY(3px) translateX(3px);
}
.exam {
    background-color: white;
    border-radius: 10px;
    border: 1px solid gray;
    box-shadow: 2px 2px 0 gray;
    outline: none;
    padding: 5px;
    margin-bottom: 10px;
    direction: rtl;
    font-size: .9rem;
    user-select: none;
    cursor: pointer;
    transition: all .3s;
}
.exam:hover {
    transform: scale(.95);
}
.exam:active {
    box-shadow: none;
    transform: translateY(3px) translateX(3px) scale(.95);
}
.send {
    box-shadow: 2px 2px 0 gray;
    user-select: none;
}
.send:active {
    box-shadow: none;
    transform: translateY(3px) translateX(3px);
}