@import url("/static/css/font.css");
:root {
    --blue: #4967ff;
    --yellow: #c1fd33;
    --gray: #a3a9c3;
    --dark: #1c2025;
    --red: #ff4f49;
    --base: #54baff;
}
* {
    box-sizing: border-box;
    font-family: "Baloo Bhaijaan 2" !important;
    padding: 0;
    flex-shrink: 0;
    overflow: hidden;
    margin: 0;
}
body {
    overflow: auto !important;
    width: 100vw;
    min-height: 100vh;
    background-color: #e0e1e2;
}
a {
    display: contents;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow: visible !important;
}
.active {
    color: #1975ff;
}
.logo:hover {
    transform: scale(1.1) rotateZ(-10deg);
}
.note_num {
    top: -10px;
    right: -10px;
}
.profile-nav * {
    cursor: pointer;
}
.profile-nav i {
    transition: all 0.3s;
    position: relative;
    overflow: visible !important;
    margin-top: 15px;
}
.profile-nav i:nth-child(3) {
    margin-right: 50px;
}
.profile-nav i:hover {
    transform: scale(1.1);
}
@media screen and (max-width: 542px) {
    nav.nav {
        padding: 0 5px;
    }
    .profile-nav i:nth-child(3) {
        margin-right: 10px;
    }
}
span,
h1,
h2,
h3,
h4,
input,
h5,
h6 {
    display: inline-block;
}
div.menu {
    font-size: 0.9rem;
    top: 2.5rem;
    right: 1rem;
}
div.menu .item.blue {
    color: #3f93ca;
}
div.menu .item.red {
    color: #ff4f49;
}
div.menu .item {
    transition: all 0.3s;
}
div.menu .item:hover {
    color: #213cc5;
}
.message_error {
    padding: 20px;
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    justify-content: space-between;
    border-radius: 10px;
    z-index: 1000;
    transition: all 0.3s;
    background-color: var(--red);
    color: white;
    direction: rtl;
    position: fixed;
    bottom: 10px;
    right: 5px;
}
.message_error i {
    font-size: 1.5rem;
    margin-top: 5px;
}
.message_error:hover {
    transform: scale(0.95);
}
@media screen and (max-width: 500px) {
    .logo {
        display: none;
    }
    .profile-nav i:nth-child(3) {
        margin-right: 0;
    }
}
.white {
    width: 100vw;
    height: 50px;
}
a.link {
    color: #4b70e2;
    text-decoration: none;
    cursor: pointer;
}
a.link:hover {
    text-decoration: underline !important;
}
