#app form {
    display: flex;
    justify-content: center;
    padding-top: 200px;
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
    margin-bottom: 50px;
    background-color: #3273ff;
    padding-bottom: 50px;
}
input[type='search'] {
    background-color: #fff;
    border-radius: 100px;
    box-shadow: 2px 2px 5px #2424244f, inset 3px 3px 5px #3b3b3b34;
    width: 80vw;
    outline: none;
    direction: rtl;
    padding: 10px;
}
.blue {
    background-color: "#fff" !important;
    color: #328bff !important;
    transform: scale(1.2);
    transition: all 0.3s;
    opacity: 1 !important;
}
.blue:hover {
    transform: scale(1.1);
}
p.p {
    position: absolute;
    top: 25rem;
    right: 2rem;
}