header {
    height: 20rem;
}
.box-shadow {
    box-shadow: 10px 10px 10px #d1d9e6, -5px -5px 20px #f9f9f9;
}
.session {
    background-color: rgb(113, 103, 255);
    color: white;
    width: 85%;
    font-size: 2rem;
    direction: rtl;
    margin-left: 10%;
    line-height: 40px;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    user-select: none;
    transition: all .3s ease-out;
    margin-bottom: 50px;
}
small {
    font-size: 1rem;
}
.img, header img {
    width: 120px;
    height: 120px;
    border: none;
}