{% extends "base.html" %} {% block head %}
<link rel="stylesheet" href="/static/css/add.css" />
{% endblock %} {% block Title %}افزودن{% endblock %} {% block content %}
<div id="app">
    <navbar active_item="add"></navbar>
    <div
        style="min-height: 98vh"
        class="container gap-20 flex mt-12 justify-center items-center w-full"
    >
        <div class="flex items-center justify-center w-1/2">
            <img
                alt="post_picture"
                ref="image"
                @click="image"
                {% if post %}
                    src="{{ post.img }}"
                {% else %}
                    src="/static/pictures/select_post_image.png"
                {% endif %}
                class="select"
            />
        </div>
        <div
            class="w-1/2 justify-center flex flex-col gap-4 h-full items-center"
        >
            <textarea
                placeholder="اینجا بنویسید"
                
                ref="content"
                type="text"
                dir="rtl"
                class="input resize-none p-3 w-4/5 h-72 rounded-lg text-[#1f1f1f] bg-[#e1e8e9] transition-all duration-300"
            >{% if post %}{{ post.raw }}{% endif %}</textarea>
            <v-btn @click="save" color="blue" elevation="5" x-large
                >دخیره و انتشار</v-btn
            >
        </div>
    </div>
</div>

<script src="/static/library/vuetify.js"></script>
<!-- Vuetify -->

<script>
    app = new Vue({
        el: "#app",
        data: {
            // {% if post %}
                image_: "/static/pictures/select_post_image.png",
                // {% else %}
                image_: "{{ post.img }}"
            // {% endif %} {% raw %}
        },
        methods: {
            image() {
                /* upload the post image */
                var inputElement = document.createElement("input");
                inputElement.type = "file";
                inputElement.accept = "image/jpeg, image/png";

                inputElement.addEventListener("change", (event) => {
                    var file = event.target.files[0];
                    var fileType = file.type;

                    if (fileType === "image/jpeg" || fileType === "image/png") {
                        var formData = new FormData();
                        formData.append("file", file);

                        this.$refs.image.src = "/static/pictures/loading.png";
                        this.$refs.image.classList.add("animate-spin");
                        this.$refs.image.classList.add("size-10");

                        fetch("/api/image", {
                            method: "POST",
                            body: formData,
                        })
                            .then((response) => {
                                if (response.ok) {
                                    console.log("OK");
                                    return response.json();
                                } else {
                                    console.error("no OK");
                                }
                            })
                            .then((data) => {
                                if (data.success) {
                                    this.Ravatar = data.url;
                                    this.$refs.image.src = data.url;
                                    this.image_ = data.url;
                                    this.$refs.image.classList.remove(
                                        "size-10"
                                    );
                                    this.$refs.image.classList.remove(
                                        "animate-spin"
                                    );
                                }
                            })
                            .catch((error) => {
                                console.error(error);
                            });
                    }
                });

                inputElement.click();
            },
            save() {
                /* save and send post to server */
                var formData = new FormData();
                formData.append("image", this.image_);
                formData.append("content", this.$refs.content.value);

                // {% endraw %}{% if post %}
                formData.append("id", "{{ post.id }}");
                // {% endif %}{% raw %}

                fetch('/api/add', {
                    method: "POST",
                    body: formData,
                }).then((response) => response.json())
                .then(data => {
                    if (data.success) {
                        window.location.href = "/";
                    }
                })
            },
        },
    });
</script>
{% endraw %} {% endblock %}
