{% extends "base.html" %} {% block head %}
<link rel="stylesheet" href="../static/css/home.css" />
<meta name="description" content="وب سایت بوکی یک شبکه اجتماعی امن و و سالم است که با رویکرد جایگزینی اینستاگرام ایجاد شده است، این وبسایت شباهت زیادی به پیام رسان های خارجی دارد و کاملا ایرانی و بومی سازی شده است." />

<!-- for social nets -->
<meta name="og:title" content="Booki" />
<meta name="og:description" content="وب سایت بوکی یک شبکه اجتماعی امن و و سالم است که با رویکرد جایگزینی اینستاگرام ایجاد شده است، این وبسایت شباهت زیادی به پیام رسان های خارجی دارد و کاملا ایرانی و بومی سازی شده است." />
<meta name="og:image" content="/static/pictures/preview.png" />

{% endblock %} {% block
Title %}Booki - خانه{% endblock %} {% block content %}
<div id="app">
    <navbar active_item="home" avatar="{{ current_user.avatar }}"
        message_count="{{ not_list }}"></navbar>
    <site-header items='
                [
                    {% for user in users %}
                        {"user_img": "{{ user.avatar }}",
                        "user_href": "/@{{ user.username }}",
                        "username": "{{ user.name[:8] }}"},
                    {% endfor %}
                ]
            '>
    </site-header>
    <div class="flex flex-none justify-center flex-center flex-col w-full">
        <div ref="content" class="w-3/4 mx-50 mx-auto text-center mt-10">
            {% for post in posts[:20] %}
                <post {% if post.writer==current_user %} iw="True" {% endif %}
                    content="{{ post.content }}" id="{{ post.id }}"
                    image="{{ post.img }}"
                    name="{{ post.writer.name }}"
                    username="{{ post.writer.username }}" avatar="{{ post.writer.avatar }}" date="{{ fAge(post.date) }}"
                    classes="post img-container min-h-40 rounded-xl mb-5 p-3 bg-[#fefefe]" {% if Like.query.filter_by(liked=post.id, liker=current_user.id).all() %}
                    like_classes="liked" {% endif %} likes="{{ Like.query.filter_by(liked=post.id).all() | length }}" comment_length="{{ Comment.query.filter_by(post=post, deleted=False).all() | length }}">
                </post>
            {% endfor %}
        </div>
        {% if posts | length > 20 %}
            <button ref="more" @click="load_more" class="cursor-pointer inline-bloc mt-10 px-5 py-1 rounded text-[#1975ff] opacity-85 text-xl mx-auto mb-10 hover:bg-[#98c0e340] transition-all duration-300 ease-out">بارگذاری بیشتر</button>
        {% endif %}
    </div>
</div>

{% raw %}
<script src="/static/library/axios.js"></script>
<script>
    // this is site header with all followers
    Vue.component("site-header", {
        props: ["items"],
        data() {
            return {
                items_dict: eval(this.items),
            };
        },
        template: `
            <header style="overflow: auto !important" ref="root" class="flex flex-none justify-start mx-auto mt-16 w-full p-2 right-0">
                <a :href="item.user_href" v-for="item in items_dict" class="relative flex items-center justify-center flex-col flex-none">
                    <img :src="item.user_img" class="flex justify-s\\tart text-lg w-9/10 text-[#292929] gap-2 relative h-20 rounded-full user items-center mx-3" />
                    <p class="text-xl">{{ item.username }}</p>
                </a>
            </header>
                    `,
    });

    // this is post Vue component
    // {% endraw %}
    
    // {% include "inc/post.js" %}

    // {% raw %}
    
    // user Vue component
    Vue.component("user", {
        props: ["img", "score", "href", "username"],
        template: `
                        <div style="transform: scale(.7);margin-left: 23%;" dir="rtl" class="flex justify-start text-lg w-9/10 text-[#292929] gap-2 relative h-20 user items-center mr-5">
                                <a :href="href">
                                    <img :src="img" />
                                </a>
                                <a :href="href">
                                    <div>
                                        <p>
                                            {{ username }}
                                        </p>
                                        <small>🪙{{ score }}</small>
                                    </div>
                                </a>
                            </div>
                        `,
    });

    new Vue({
        el: "#app",
        data: {
            page: 1
        },
        methods: {
            load_more() {
                axios.get(`/api/page?num=${this.page += 1}`)
                    .then((response) => {
                        let data = response.data
                        for (const post of data.posts) {
                                const postCM = Vue.extend({
                                    template:
                                        `
                                        <post 
                                            :iw="iw"
                                            :content="content"
                                            :id="id"
                                            :image="image"
                                            :name="writer.name"
                                            :username="writer.username"
                                            :avatar="writer.avatar"
                                            :date="date"
                                            classes="post img-container min-h-40 rounded-xl mb-5 p-3 bg-[#fefefe]" 
                                            :like_classes="liked ? 'liked' : ''"
                                            :likes="likes"
                                            :comment_length="comment_length">
                                        </post>
                                        `,
                                    data() {
                                        return post
                                    },
                                });
                                const vm = new postCM().$mount();
                                this.$refs.content.appendChild(vm.$el);
                        }
                        
                        if (!data.if_more) this.$refs.more.remove()
                    }
                )
            }
        }
    });
</script>
{% endraw %} {% endblock %}