{% extends "base.html" %} {% block head %}
<link rel="stylesheet" href="../static/css/home.css" />
<meta name="description" content="شبکه اجتماعی، شبکه اجتماعی ایرانی، ایرانی، بومی، سالم، مانند اینستاگرام، ثبت نام، وب سایت ایرانی، انتشار مطلب" />
<meta name="description" content="وب سایت بوکی یک شبکه اجتماعی امن و و سالم است که با رویکرد جایگزینی اینستاگرام ایجاد شده است، این وبسایت شباهت زیادی به پیام رسان های خارجی دارد و کاملا ایرانی و بومی سازی شده است." />

{% endblock %} {% block
Title %}Booki - خانه{% endblock %} {% block content %}
<div id="app">
    <navbar active_item="home" avatar="{{ current_user.avatar }}"
        message_count="{{ not_list }}"></navbar>
    <site-header items='
                [
                    {% for user in users %}
                        {"user_img": "{{ user.avatar }}",
                        "user_href": "/@{{ user.username[:9] }}",
                        "username": "{{ user.username }}"},
                    {% endfor %}
                ]
            '>
    </site-header>
    <div class="container">
        <div class="posts">
            {% for post in posts %}
            <post {% if post.writer==current_user %} iw="True" {% endif %}
                content="<img class='img' src='{{ post.img }}'><p>{{ post.content }}</p>" id="{{ post.id }}"
                username="{{ post.writer.username }}" avatar="{{ post.writer.avatar }}" date="{{ fAge(post.date) }}"
                classes="img-container post" {% if Like.query.filter_by(liked=post.id, liker=current_user.id).all() %}
                like_classes="liked" {% endif %} likes="{{ Like.query.filter_by(liked=post.id).all() | length }}">
            </post>
            {% endfor %}
        </div>
    </div>

    {% if first %}

    {% endif %}
</div>

{% raw %}
<script>
    // this is site header with all followers
    Vue.component("site-header", {
        props: ["items"],
        data() {
            return {
                items_dict: eval(this.items),
            };
        },
        template: `
            <header ref="root" class="header">
                <a :href="item.user_href" v-for="item in items_dict" class="item">
                    <img :src="item.user_img" class="user" />
                    <p>{{ item.username }}</p>
                </a>
            </header>
                    `,
    });

    // this is post Vue component
    Vue.component("post", {
        props: {
            id: {},
            content: {},
            username: {},
            img: {},
            avatar: {},
            date: "",
            like_classes: {
                default: ""
            },
            likes: {
                default: 0,
            },
            iw: {
                default: false,
            },
            classes: { default: "post" },
        },
        data() {
            return {
                is: true,
                delete_button: "حذف"
            };
        },

        methods: {
            like() {
                // this function to like the post
                // if not liked
                if (this.like_classes) {
                    var data = new FormData();
                    data.append('postId', this.id)
                    fetch('/api/unlike', {
                        method: "POST",
                        body: data,
                    }).then((response) => { return response.json() }).then(
                        (data) => {
                            if (data.success) {
                                this.$refs.like_icon.style.color = "black"
                                this.like_classes = "";
                                this.likes--;
                            }
                        })
                // if liked
                } else {
                    var data = new FormData();
                    data.append('postId', this.id)
                    fetch('/api/like', {
                        method: "POST",
                        body: data,
                    }).then((response) => { return response.json() }).then(
                        (data) => {
                            if (data.success) {
                                this.$refs.like_icon.style.color = "var(--red)"
                                this.like_classes = "liked";
                                this.likes++;
                            }
                        })
                }
            },
            delete_() {
                // this function to delete the post
                if (
                    this.$refs.itrash.getAttribute("class") ===
                    "fi fi-rr-check"
                ) {
                    var myHeaders = new Headers();
                    myHeaders.append(
                        "Content-Type",
                        "application/x-www-form-urlencoded"
                    );

                    var urlencoded = new URLSearchParams();
                    urlencoded.append("id", this.id);
                    var requestOptions = {
                        method: "DELETE",
                        headers: myHeaders,
                        body: urlencoded,
                        redirect: "follow",
                    };

                    fetch("/api/delete", requestOptions)
                        .then((response) => response.text())

                        .then((result) => {
                            this.is = false;
                        })
                        .catch((error) => console.log("error", error));
                } else {
                    this.$refs.itrash.setAttribute(
                        "class",
                        "fi fi-rr-check"
                    );
                    this.$refs.trash.setAttribute("class", "like trash liked");
                    this.delete_button = "مطمئنید؟"
                }
            },
        },
        template: `
                        <div v-if="is" :class="classes">
                            <div dir="rtl" class="user">
                                <a :href="'\@' + username">
                                    <img :src="avatar" />
                                </a>
                                <a :href="'\@' + username">
                                    <div>
                                        <p>
                                            {{ username }}

                                        </p>
                                        <small>{{ date }}</small>
                                    </div>
                                </a>
                            </div>
                            <div v-html="content" dir="rtl" class="content"></div>
                            <div dir="rtl" class="bottom">
                                <div @click="like" ref="like" :class="'like ' + like_classes">
                                    <i ref="like_icon" class="fi fi-rr-circle-heart"></i>
                                    <small>{{ likes }}</small>
                                </div>
                                <div v-if="iw" @click="delete_" ref="trash" class="like trash">
                                    {{ delete_button }} <i ref="itrash" class="fi fi-rr-trash-xmark"></i>
                                </div>
                                </a>
                            </div>
                        </div>
                    `,
    });

    // user Vue component
    Vue.component("user", {
        props: ["img", "score", "href", "username"],
        template: `
                        <div style="transform: scale(.7);margin-left: 23%;" dir="rtl" class="user">
                                <a :href="href">
                                    <img :src="img" />
                                </a>
                                <a :href="href">
                                    <div>
                                        <p>
                                            {{ username }}

                                        </p>
                                        <small>🪙{{ score }}</small>
                                    </div>
                                </a>
                            </div>
                        `,
    });

    new Vue({
        el: "#app",
    });
</script>
{% endraw %} {% endblock %}