{% extends "base.html" %} {% block head %}
<link rel="stylesheet" href="../static/css/home.css" />
<meta name="description" content="وب سایت بوکی یک شبکه اجتماعی امن و و سالم است که با رویکرد جایگزینی اینستاگرام ایجاد شده است، این وبسایت شباهت زیادی به پیام رسان های خارجی دارد و کاملا ایرانی و بومی سازی شده است." />

<!-- for social nets -->
<meta name="og:title" content="Booki" />
<meta name="og:description" content="وب سایت بوکی یک شبکه اجتماعی امن و و سالم است که با رویکرد جایگزینی اینستاگرام ایجاد شده است، این وبسایت شباهت زیادی به پیام رسان های خارجی دارد و کاملا ایرانی و بومی سازی شده است." />
<meta name="og:image" content="/static/pictures/preview.png" />

{% endblock %} {% block
Title %}Booki - خانه{% endblock %} {% block content %}
<div id="app">
    <navbar active_item="home" avatar="{{ current_user.avatar }}"
        message_count="{{ not_list }}"></navbar>
        {% for user in users %}
        {% endfor %}
    <site-header items='
                [
                    {% for user in users %}
                        {"user_img": "{{ user.avatar }}",
                        "user_href": "/@{{ user.username }}",
                        "username": "{{ user.username[:9] }}"},
                    {% endfor %}
                ]
            '>
    </site-header>
    <div class="flex flex-none justify-center" style="width: 95vw;">
        <div class="w-3/4 mx-50 my-auto text-center mt-10">
            {% for post in posts %}
            <post {% if post.writer==current_user %} iw="True" {% endif %}
                content="{{ post.content }}" id="{{ post.id }}"
                image="{{ post.img }}"
                username="{{ post.writer.username }}" avatar="{{ post.writer.avatar }}" date="{{ fAge(post.date) }}"
                classes="post img-container min-h-40 rounded-xl mb-5 p-3 bg-[#fefefe]" {% if Like.query.filter_by(liked=post.id, liker=current_user.id).all() %}
                like_classes="liked" {% endif %} likes="{{ Like.query.filter_by(liked=post.id).all() | length }}" comment_length="{{ post.comments | length }}">
            </post>
            {% endfor %}
            {% if posts_length > 50 %}
            <a class="inline-block bg-[#005be4] px-5 py-1 rounded text-white text-lg mx-auto hover:text-xl transition-all duration-300 ease-out" href="/page/{{ pagination + 1 }}">بارگذاری بیشتر</a>
            {% endif %}
        </div>

    </div>
</div>

{% raw %}
<script>
    // this is site header with all followers
    Vue.component("site-header", {
        props: ["items"],
        data() {
            return {
                items_dict: eval(this.items),
            };
        },
        template: `
            <header ref="root" class="flex flex-none overflow-x-auto overflow-y-hidden justify-start mx-auto mt-16 w-full p-2 right-0">
                <a :href="item.user_href" v-for="item in items_dict" class="relative flex items-center justify-center flex-col flex-none">
                    <img :src="item.user_img" class="flex justify-s\tart text-lg w-9/10 text-[#292929] gap-2 relative h-20 rounded-full user items-center mx-3" />
                    <p class="text-xl">{{ item.username }}</p>
                </a>
            </header>
                    `,
    });

    // this is post Vue component
    Vue.component("post", {
        props: {
            id: {},
            comment_length: {},
            content: {},
            username: {},
            img: {},
            image: {},
            avatar: {},
            date: "",
            like_classes: {
                default: ""
            },
            likes: {
                default: 0,
            },
            iw: {
                default: false,
            },
            classes: { default: "post" },
        },
        data() {
            return {
                is: true,
                delete_button: "حذف"
            };
        },

        methods: {
            like() {
                // this function to like the post
                // if not liked
                if (this.like_classes) {
                    var data = new FormData();
                    data.append('postId', this.id)
                    fetch('/api/unlike', {
                        method: "POST",
                        body: data,
                    }).then((response) => { return response.json() }).then(
                        (data) => {
                            if (data.success) {
                                this.$refs.like_icon.style.color = "black"
                                this.like_classes = "";
                                this.likes--;
                            }
                        })
                // if liked
                } else {
                    var data = new FormData();
                    data.append('postId', this.id)
                    fetch('/api/like', {
                        method: "POST",
                        body: data,
                    }).then((response) => { return response.json() }).then(
                        (data) => {
                            if (data.success) {
                                this.$refs.like_icon.style.color = "var(--red)"
                                this.like_classes = "liked";
                                this.likes++;
                            }
                        })
                }
            },
            delete_() {
                // this function to delete the post
                if (
                    this.$refs.itrash.getAttribute("class") ===
                    "fi fi-rr-check"
                ) {
                    var myHeaders = new Headers();
                    myHeaders.append(
                        "Content-Type",
                        "application/x-www-form-urlencoded"
                    );

                    var urlencoded = new URLSearchParams();
                    urlencoded.append("id", this.id);
                    var requestOptions = {
                        method: "DELETE",
                        headers: myHeaders,
                        body: urlencoded,
                        redirect: "follow",
                    };

                    fetch("/api/delete", requestOptions)
                        .then((response) => response.text())

                        .then((result) => {
                            this.is = false;
                        })
                        .catch((error) => console.log("error", error));
                } else {
                    this.$refs.itrash.setAttribute(
                        "class",
                        "fi fi-rr-check"
                    );
                    this.$refs.trash.setAttribute("class", "px-3 gap-10 py-2 rounded flex items-center border-2 border-[#6d6d6d] transition-all duration-300 ease-out hover:opacity-90 bg-white flex-none cursor-pointer justify-center liked");
                    this.delete_button = "مطمئنید؟"
                }
            },
        },
        template: `
                        <div v-if="is" :class="classes">
                            <div dir="rtl" class="flex justify-start text-lg w-9/10 text-[#292929] gap-2 relative h-20 user items-center mr-5">
                                <a :href="'\@' + username">
                                    <img :src="avatar" />
                                </a>
                                <a :href="'\@' + username">
                                    <div>
                                        <p>
                                            {{ username }}

                                        </p>
                                        <small>{{ date }}</small>
                                    </div>
                                </a>
                            </div>
                            <div dir="rtl" class="flex gap-3 items-center justofy-center flex-col">
                                <img @dblclick="like" v-if="image != 'http://127.0.0.1:5000/static/pictures/select_post_image.png'" class="img" :src="image" />
                                <p class="text-start" v-html="content"></p>
                            </div>
                            <div dir="rtl" class="flex flex-none flex-wrap flex-row gap-3 mt-16 border-t-2 border-[#2929292f] pt-3">
                                <div @click="like" ref="like" :class="'px-3 gap-10 py-2 rounded flex items-center justify-between border-2 border-[#6d6d6d] transition-all duration-300 ease-out hover:opacity-90 cursor-pointer  bg-white flex-none ' + like_classes">
                                    <i ref="like_icon" class="fi fi-rr-circle-heart"></i>
                                    <small>{{ likes }}</small>
                                </div>
                                <div @click="window.location.href = '/post/' + id" class="px-3 gap-10 py-2 rounded flex items-center transition-all duration-300 ease-out hover:opacity-90 bg-white flex-none justify-between border-2 border-[#005be4] text-[#005be4] cursor-pointer  text-[#6969ff]">
                                    <i class="fi fi-rr-comment"></i>
                                    <small>{{ comment_length }}</small>
                                </div>
                                <div v-if="iw" @click="delete_" ref="trash" class="px-3 gap-10 py-2 rounded flex items-center border-2 border-[#6d6d6d] transition-all duration-300 ease-out hover:opacity-90 bg-white flex-none cursor-pointer justify-center">
                                    {{ delete_button }} <i ref="itrash" class="fi fi-rr-trash-xmark"></i>
                                </div>
                                </a>
                            </div>
                        </div>
                    `,
    });

    // user Vue component
    Vue.component("user", {
        props: ["img", "score", "href", "username"],
        template: `
                        <div style="transform: scale(.7);margin-left: 23%;" dir="rtl" class="flex justify-start text-lg w-9/10 text-[#292929] gap-2 relative h-20 user items-center mr-5">
                                <a :href="href">
                                    <img :src="img" />
                                </a>
                                <a :href="href">
                                    <div>
                                        <p>
                                            {{ username }}

                                        </p>
                                        <small>🪙{{ score }}</small>
                                    </div>
                                </a>
                            </div>
                        `,
    });

    new Vue({
        el: "#app",
    });
</script>
{% endraw %} {% endblock %}