{% extends "base.html" %} {% block head %}
<link rel="stylesheet" href="./static/css/Login.css" />
<link href="../static/library/Vuetify.css" rel="stylesheet" />
{% endblock %} {% block Title %}ورود{% endblock %} {% block content %} {% raw %}
<div id="app" dir="rtl" class="Form-box">
    <h3 ref="title" class="title">خوش آمدید!</h3>
    <h4 ref="des" class="des">نام کاربری خود را وارد کنید</h4>
    <img
        ref="image"
        class="image"
        v-show="next_"
        :src="image"
        alt="user-picture"
    />
    <div class="inp-box">
        <h3 v-show="next_" ref="title2" class="title2">
            لطفا پسورد خود را وارد کنید
        </h3>
        <input
            ref="usernameinput"
            @keydown="check_E($event)"
            dir="ltr"
            :style="style"
            ref="username"
            v-model="value"
            name="username"
            placeholder="نام کاربری"
            name="username"
            type="text"
            id="username"
            class="username-inp"
        />
        <p ref="empt" v-if="error" class="error">{{ error_text }}</p>
    </div>
    <button ref="sub" @click="check()" id="username-sub">بعدی</button>
    <p class="register">حسابی ندارید؟ <a href="/register">یکی بسازید!</a></p>
</div>

<script>
    new Vue({
        el: "#app",
        data: {
            value: "",
            error_text: "",
            next_: false,
            this_username: "",
            style: "",
            image: "",
            input: "نام کاربری",
            Login_: false,
            error: false,
        },
        methods: {
            error_show: function (x) {
                // this function to display errors
                this.style = "border: #c90000b2 solid 1px !important;";
                this.error = true;
                this.error_text = x;
                if (!x) {
                    this.error = false;
                    this.error_text = "";
                    this.style = "";
                }
            },
            login: function () {
                // this function to validate password and login
                var myHeaders = new Headers();
                myHeaders.append(
                    "Content-Type",
                    "application/x-www-form-urlencoded"
                );

                var urlencoded = new URLSearchParams();
                urlencoded.append("password", this.value);
                urlencoded.append("username", this.this_username);

                var requestOptions = {
                    method: "POST",
                    headers: myHeaders,
                    body: urlencoded,
                    redirect: "follow",
                };

                // if value not empty
                if (this.value != "") {
                    // password validation
                    fetch("/api/userValid", requestOptions)
                        .then((response) => {
                            if (response.status == 429) {
                                throw new Error("429");
                            }
                            return response.text();
                        })
                        .then((data) => {
                            console.log(JSON.parse(data));
                            if (JSON.parse(data).success) {
                                if (JSON.parse(data).valid) {
                                    var response_json = data;
                                    this.error_show(false);
                                    let href = "/";
                                    // set a login notification (send ip to backend)
                                    fetch("https://api.ipify.org?format=json")
                                        .then((response) => response.json())
                                        .then((data) => {
                                            if (data.ip) {
                                                fetch(
                                                    href + "?login=" + data.ip
                                                );
                                            }
                                        });
                                    var nextURL = "";
                                    try {
                                        const nextParam = window.location.search
                                            .split("?")[1]
                                            .split("&")
                                            .find((param) =>
                                                param.startsWith("next=")
                                            );
                                        const nextValue = nextParam
                                            ? nextParam.split("=")[1]
                                            : "";

                                        var nextURL =
                                            nextValue &&
                                            `${window.location.origin}/${nextValue}`;
                                    } catch {
                                        window.location.reload();
                                    }
                                    if (nextURL) {
                                        window.location.href = nextURL;
                                        return null;
                                    }
                                    window.location.reload();
                                } else {
                                    this.error_show("رمزعبور غلط است");
                                }
                            } else {
                                this.error_show(
                                    "مشکلی پیش آمده است، لطفا بعدا تلاش کنید"
                                );
                            }
                        })
                        .catch((error) => {
                            if (error == "Error: 429") {
                                this.error_show(
                                    "درخواست های بیش از حد، کمی بعد دوباره تلاش کنید"
                                );
                            } else {
                                this.error_show(
                                    "مشکلی پیش آمده است، لطفا بعدا تلاش کنید"
                                );
                            }
                            console.log("error", error);
                        });
                } else {
                    if (this.value == "") {
                        this.error_show("رمز عبور خالی است");
                    }
                }
            },
            next: function () {
                // Changing the scene to the password scene
                document.querySelector(".register").innerHTML =
                    'رمز عبور خود را فراموش کرده اید؟ <a href="/recovery">آن را بازیابی کنید</a>';
                this.$refs.usernameinput.placeholder = "رمزعبور";
                this.$refs.usernameinput.name = "password";
                this.$refs.usernameinput.type = "password";

                this.isInvalid = true;
                this.next_ = true;

                this.isEmpty = false;
                this.style = "";

                this.$refs.title.style.position = "absolute";
                this.$refs.title.style.marginLeft = "100%";

                setTimeout(() => {
                    this.$refs.title.style.display = "none";
                }, 450);

                this.$refs.des.style.position = "absolute";
                this.$refs.des.style.marginLeft = "100%";
                setTimeout(() => {
                    this.$refs.des.style.display = "none";
                }, 450);
                setTimeout(() => {
                    this.$refs.title2.style.marginRight = "0";
                }, 50);
                setTimeout(() => {
                    this.$refs.image.style.marginRight = "0";
                }, 50);

                this.$refs.sub.textContent = "ورود";
                this.$refs.sub.removeEventListener("click", this.check);
                this.$refs.sub.addEventListener("click", this.login);
                this.input = "رمز ورود";
                this.value = "";
                this.error_show(false);
            },
            check: function () {
                // username validation
                var myHeaders = new Headers();
                myHeaders.append(
                    "Content-Type",
                    "application/x-www-form-urlencoded"
                );

                var urlencoded = new URLSearchParams();
                urlencoded.append("username", this.value);

                var requestOptions = {
                    method: "POST",
                    headers: myHeaders,
                    body: urlencoded,
                    redirect: "follow",
                };

                if (this.value != "") {
                    fetch("/api/userValid", requestOptions)
                        .then((response) => {
                            if (response.status == 429) {
                                console.log(response.status);
                                throw new Error("429");
                            }
                            return response.text();
                        })
                        .then((data) => {
                            console.log(JSON.parse(data));
                            if (JSON.parse(data).success) {
                                if (JSON.parse(data).valid) {
                                    // change the username and avatar
                                    this.this_username = this.value;
                                    this.image = JSON.parse(data).avatar;
                                    var response_json = data;
                                    this.error_show(false);
                                    this.next();
                                } else {
                                    this.error_show("نام کاربری غلط است");
                                }
                            } else {
                                this.error_show(
                                    "مشکلی پیش آمده است، لطفا بعدا تلاش کنید"
                                );
                            }
                        })
                        .catch((error) => {
                            if (error == "Error: 429") {
                                this.error_show(
                                    "درخواست های بیش از حد، کمی بعد دوباره تلاش کنید"
                                );
                            } else {
                                this.error_show(
                                    "مشکلی پیش آمده است، لطفا بعدا تلاش کنید"
                                );
                            }
                            console.log("error", error);
                        });
                } else {
                    if (this.value == "") {
                        this.error_show("نام کاربری را وارد کنید");
                    }
                }
            },
            check_E: function ($event) {
                // to handle enters
                if ($event.keyCode == 13) {
                    if (this.next_) {
                        this.login();
                    } else {
                        this.check();
                    }
                } else if ($event.keyCode == 32) {
                    $event.preventDefault();
                    this.value += "_";
                }
            },
        },
    });
</script>
{% endraw %} {% endblock %}
