{% extends 'base.html' %} {% block head %}
<link rel="stylesheet" href="static/css/me.css" />
{% endblock %} {% block Title %}تنظیمات{% endblock %} {% block content %}
<div id="app">
    <navbar
        avatar="{{ current_user.avatar }}"
        message_count="{{ not_list }}"
    ></navbar>

    <div
        @click="close_error"
        v-if="error_show"
        v-show="error_display"
        ref="error"
        class="message_error"
    >
        <i class="fi fi-rr-exclamation"></i>
        {% raw %} {{ error_text }} {% endraw %}
    </div>

    <img
        data-upload="1"
        class="avatar"
        src="{{ current_user.avatar }}"
        alt="avatar"
    />
    <div class="avatars">
        <img
            @click="change_avatar"
            src="https://cdn-icons-png.flaticon.com/512/3177/3177440.png"
            alt="profile 1"
        />
        <img
            @click="change_avatar"
            src="https://cdn-icons-png.flaticon.com/512/1999/1999625.png"
            alt="profile 2"
        />
        <img
            @click="change_avatar"
            src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png"
            alt="profile 3"
        />
        <img
            @click="change_avatar"
            src="https://cdn-icons-png.flaticon.com/512/6997/6997662.png"
            alt="profile 4"
        />
        <img
            @click="change_avatar"
            src="https://cdn-icons-png.flaticon.com/512/1154/1154448.png"
            alt="profile 5"
        />
        <img
            @click="change_avatar"
            src="https://cdn-icons-png.flaticon.com/512/10125/10125617.png"
            alt="profile 6"
        />
        <img
            @click="change_avatar"
            src="https://cdn-icons-png.flaticon.com/512/2716/2716054.png"
            data-upload="1"
            title="upload avatar"
            alt="upload profile"
        />
    </div>
    <input
        type="text"
        placeholder="نام کاربری"
        class="input"
        @blur="change_username"
        @keydown.enter="change_username"
        v-model="username"
    />
    <textarea
        placeholder="من یک..."
        class="input"
        @blur="change_bio"
        v-model="bio"
        dir="rtl"
        rows="4"
    ></textarea>
    <hr />
    <input
        type="text"
        placeholder="کشور"
        class="input"
        dir="rtl"
        @blur="change_country"
        @keydown.enter="change_country"
        v-model="country"
    />
    <input
        type="text"
        placeholder="شهر"
        class="input"
        dir="rtl"
        @blur="change_city"
        @keydown.enter="change_city"
        v-model="city"
    />
    <hr />
    <input
        type="password"
        placeholder="رمز عبور جدید"
        class="input"
        ref="password"
        @keydown.enter="next_password_input"
        v-model="password"
    />
    <input
        type="password"
        placeholder="تکرار رمز عبور"
        class="input"
        ref="password"
        @keydown.enter="change_password"
        v-model="password_repeat"
    />
    <button class="bg-[#5e5eff] transition-all duration-300 ease-out rounded px-10 text-white py-2 text-lg" @click="change_password">تغییر رمز عبور</button>
    <span class="white"></span>
</div>

<script>
    new Vue({
        el: "#app",
        data: {
            username: "{{ current_user.username }}",
            user_username: "{{ current_user.username }}",
            country: "{{ current_user.country }}",
            user_country: "{{ current_user.country }}",
            city: "{{ current_user.city }}",
            user_city: "{{ current_user.city }}",
            password: "",
            password_repeat: "",
            // {% if current_user.bio.replace("<br />", "") %}
            user_bio: `{{ current_user.bio.replace("<br />", "") }}`,
            // {% else %}
            user_bio: ``,
            // {% endif %}
            bio: `{{ current_user.bio.replace("<br />", "") }}`,
            error_text: "",
            error_display: false,
            error_show: false,
        },
        methods: {
            close_error() {
                // this function is for closing errors
                this.$refs.error.style.transform = "translateX(200px)";
                setTimeout(() => {
                    this.error_show = false;
                    this.error_display = false;
                    this.error_text = "";
                }, 250);
            },
            change_country() {
                // this function is for change country
                let formData = new FormData();
                formData.append("country", this.country);

                if (this.country != this.user_country && this.country) {
                    fetch("/api/edit", {
                        method: "POST",
                        body: formData,
                    }).then((response) => (window.location.href = "/me"));
                }
            },
            change_city() {
                // this function is for change city
                let formData = new FormData();
                formData.append("city", this.city);

                if (this.city != this.user_city && this.city) {
                    fetch("/api/edit", {
                        method: "POST",
                        body: formData,
                    }).then((response) => (window.location.href = "/me"));
                }
            },
            error(text) {
                // this function is for show a error
                this.error_text = text;
                this.error_show = true;
                setTimeout(() => {
                    this.$refs.error.style.transform = "translateX(200px)";
                }, 5);
                setTimeout(() => {
                    this.error_display = true;
                }, 5);
                setTimeout(() => {
                    this.$refs.error.removeAttribute("style");
                }, 10);
            },
            change_bio() {
                // this function is for change the biography
                let formData = new FormData();
                formData.append("bio", this.bio);

                if (this.bio != this.user_bio) {
                    fetch("/api/edit", {
                        method: "POST",
                        body: formData,
                    })
                        .then((response) => {
                            if (response.status == 429) {
                                throw new Error("429");
                            }
                            window.location.href = "/me";
                        })
                        .catch((error) => {
                            this.error(
                                "مشکلی پیش آمده است، کمی بعد دوباره امتحان کنید"
                            );
                        });
                }
            },
            change_avatar(ev) {
                // this function is for change the avatar
                // if clicked for upload
                if (ev.target.getAttribute("data-upload")) {
                    var inputElement = document.createElement("input");
                    inputElement.type = "file";
                    inputElement.accept = "image/jpeg, image/png";

                    inputElement.addEventListener("change", (event) => {
                        let file = event.target.files[0];
                        let fileType = file.type;

                        if (
                            fileType === "image/jpeg" ||
                            fileType === "image/png"
                        ) {
                            let formData = new FormData();
                            formData.append("file", file);

                            fetch("/api/uploadavatar", {
                                method: "POST",
                                body: formData,
                            })
                                .then((response) => {
                                    if (response.status == 429) {
                                        throw new Error("429");
                                    }
                                    window.location.href = "/me";
                                })
                                .catch((error) => {
                                    this.error(
                                        "مشکلی پیش آمده است، کمی بعد دوباره امتحان کنید"
                                    );
                                });
                        }
                    });

                    inputElement.click();
                    // if clicked on a picture
                } else {
                    let formData = new FormData();
                    formData.append("avatar", ev.target.src);

                    fetch("/api/edit", {
                        method: "POST",
                        body: formData,
                    })
                        .then((response) => {
                            if (response.status == 429) {
                                throw new Error("429");
                            }
                            location.reload();
                        })
                        .catch((error) => {
                            this.error(
                                "مشکلی پیش آمده است، کمی بعد دوباره تلاش کنید"
                            );
                        });
                }
            },
            change_password() {
                // this function is for change password
                this.$refs.password.type = "password";
                let formData = new FormData();
                formData.append("password", this.password);

                if (this.password) {
                    if (this.password_repeat !== this.password) {
                        this.error("رمزعبور با تکرار آن مساوی نیست");
                        return null;
                    } else if (this.password.length < 8) {
                        this.error("رمز عبور جدید باید حداقل 8 کاراکتر باشد");
                        return null;
                    }

                    fetch("/api/edit", {
                        method: "POST",
                        body: formData,
                    })
                        .then((response) => {
                            if (response.status == 429) {
                                throw new Error("429");
                            }
                            location.reload();
                        })
                        .catch((error) => {
                            this.error(
                                "مشکلی پیش آمده است، کمی بعد دوباره امتحان کنید"
                            );
                        });
                }
            },
            change_username() {
                // this function is for change username
                let formData = new FormData();
                formData.append("username", this.username);

                if (this.username != this.user_username) {
                    if (this.username.length < 4) {
                        this.error("نام کاربری باید حداقل 4 کاراکتر باشد");
                        this.username = this.user_username;
                        return null;
                    } else if (!/^[a-zA-Z0-9_]+$/gm.test(this.username)) {
                        this.error("فقط اعداد، حروف انگلیسی و زیر خط");
                        this.username = this.user_username;
                        return null;
                    }
                    fetch("/api/userValid", {
                        method: "POST",
                        body: formData,
                    })
                        .then((response) => {
                            if (response.ok) {
                                return response.json();
                            }
                        })
                        .then((data) => {
                            if (data.valid) {
                                this.error("این نام کاربری موجود است");
                                this.username = this.user_username;
                            } else {
                                fetch("/api/edit", {
                                    method: "POST",
                                    body: formData,
                                }).then((response) => {
                                    if (response.status == 429) {
                                        throw new Error("429");
                                    }
                                    window.location.href = "/me";
                                });
                            }
                        })
                        .catch((error) => {
                            this.username = this.user_username;
                            this.error(
                                "مشکلی پیش آمده است، کمی بعد دوباره امتحان کنید"
                            );
                        });
                }
            },
        },
    });
</script>
{% endblock %}
