{% extends "base.html" %} {% block Title %}پیام ها{% endblock %} {% block head%}
<link rel="stylesheet" href="/static/css/messages.css" />
{% endblock %} {% block content %}
<div id="app">
    <navbar active_item="messages"></navbar>
    <div class="message-container">
        {% if notifications %} {% else %}
        <p>empty!</p>
        {% endif %} {% for notification in notifications %} {% if
        notification.seened %}
        <div class="message">
            <div v-html="`{{ notification.content }}`"></div>{% else %}
            <div class="message not_seened">
                <div v-html="`{{ notification.content }}`"></div> {% endif %}
                <small class="date">{{ fAge(notification.date) }}</small>
                <div
                    onclick="delete_notification({{ notification.id }})"
                    class="delete"
                >
                    <i class="fi fi-rr-trash-xmark"></i>
                </div>
                <!-- TODO: change class on hover to fi-rr-trash-can-check -->
            </div>
            {% endfor %}
        </div>
    </div>

    <script>
        function delete_notification(id) {
            var urlencoded = new URLSearchParams();
            urlencoded.append("id", id);

            fetch("/api/notifdelete", {
                method: "POST",
                body: urlencoded,
            }).then((response) => window.location.href = "/notifications");
        }

        app = new Vue({
            el: "#app",
            data: {},
            methods: {
                clear() {
                    fetch("/api/messClear").then((response) => {
                        window.location.href = "/messages";
                    });
                },
            },
        });
        document.addEventListener("DOMContentLoaded", () => {
            fetch("/api/seen");
        });
    </script>
    {% endblock %}
</div>
