{% extends "base.html" %} {% block head %}
<link rel="stylesheet" href="/static/css/home.css" />
<link rel="stylesheet" href="/static/css/post.css" />
<base href="http://127.0.0.1:5000">
{% endblock %} {% block Title %}{{ post.writer.username }} -- {{ content }} {%
endblock %} {% block content %}
<div id="app">
    <navbar></navbar>
    <div class="flex flex-none flex-col items-center gap-10">
        <post {% if post.writer==current_user %} iw="True" {% endif %}
                content="{{ post.content }}" id="{{ post.id }}"
                image="{{ post.img }}"
                username="{{ post.writer.username }}" avatar="{{ post.writer.avatar }}" date="{{ fAge(post.date) }}"
                classes="post img-container min-h-40 rounded-xl mb-5 p-3 bg-[#fefefe]" {% if Like.query.filter_by(liked=post.id, liker=current_user.id).all() %}
                like_classes="liked" {% endif %} likes="{{ Like.query.filter_by(liked=post.id).all() | length }}" comment_length="{{ post.comments | length }}"
                :comment_show="false">
            </post>
        <div class="flex flex-none flex-col items-center w-full">
            <div class="flex flex-none justify-center gap-2 items-center flex-row-reverse">
                <div @click="text_ar" class="exam">پست شما بسیار زیبا بود، اما</div>
                <div @click="text_ar" class="exam">بسیار لذت بردم</div>
                <div @click="text_ar" class="exam">این پست بسیار عمیق بود</div>
                <div @click="text_ar" class="exam">این پست می توانست بهتر از این باشد اگر</div>
                <div @click="text_ar" class="exam">اولین کامنت!</div>
            </div>
            <textarea placeholder="به نظر من..." dir="rtl" class="resize-none bg-white rounded-lg w-4/5 p-2 border-solid border-2 border-[#808080] gray-shadow"></textarea>
            <button class="bg-white w-4/5 rounded-lg border-2 border-solid border-[#808080] p-2 mb-2 mt-2 position-all duration-300 send" @click="add_comment">ارسال</button>
            {% for comment in comments %}
                <comment
                    {% if comment.user == current_user %}
                        iw="1"
                    {% else %}
                        iw=""
                    {% endif %}
                    avatar="{{ comment.user.avatar }}"
                    username="{{ comment.user.username }}"
                    id="{{ comment.id }}"
                    content="{{ comment.content }}"
                    date="{{ fAge(comment.date) }}" ></comment>
            {% endfor %}
            <div class="w-full mt-10"></div>
        </div>
    </div>

    {% raw %}
    <script>
        Vue.component("comment", {
            props: ["username", "id", "content", "date", "avatar", "iw"],
            data() {
                return {
                    is: true,
                    delete_button: "حذف",
                };
            },
            methods: {
                delete_() {
                    if (
                        this.$refs.itrash.getAttribute("class") ===
                        "fi fi-rr-check"
                    ) {
                        var myHeaders = new Headers();
                        myHeaders.append(
                            "Content-Type",
                            "application/x-www-form-urlencoded"
                        );

                        var urlencoded = new URLSearchParams();
                        urlencoded.append("id", this.id);
                        var requestOptions = {
                            method: "POST",
                            headers: myHeaders,
                            body: urlencoded,
                            redirect: "follow",
                        };

                        fetch("/api/comment/del", requestOptions)
                            .then((response) => response.text())

                            .then((result) => {
                                this.is = false;
                            })
                            .catch((error) => console.log("error", error));
                    } else {
                        this.$refs.itrash.setAttribute(
                            "class",
                            "fi fi-rr-check"
                        );
                        this.$refs.trash.setAttribute(
                            "class",
                            "mb-3 px-3 gap-10 py-2 rounded flex items-center border-2 border-[#6d6d6d] transition-all duration-300 ease-out hover:opacity-90 bg-white flex-none cursor-pointer justify-center liked"
                        );
                        this.delete_button = "مطمئنید؟";
                    }
                },
            },
            template: `<div v-if="is" class="bg-white w-4/5 flex flex-none justify-start items-center gap-4 relative flex-row-reverse mt-5 rounded-xl">
                        <div dir="rtl" class="p-3 rounded-xl flex flex-none text-center items-center flex-col">
                            <a :href="'\@' + username">
                                <img :src="avatar" class="size-20 rounded-full" />
                            </a>
                            <a :href="'\@' + username">
                                <div>
                                    <p  class="text-black">
                                        {{ username }}

                                    </p>
                                    <small class="text-black">{{ date }}</small>
                                </div>
                            </a>
                        </div>
                        <div dir="rtl" class="content">
                            <p v-html="content"></p>
                        </div>
                        <div v-if="iw" dir="rtl" class="bottom inline-block absolute bottom-1 left-10">
                            <div @click="delete_" ref="trash" class="mb-3 px-3 gap-10 py-2 rounded flex items-center border-2 border-[#6d6d6d] transition-all duration-300 ease-out hover:opacity-90 bg-white flex-none cursor-pointer justify-center">
                                {{ delete_button }} <i ref="itrash" class="fi fi-rr-trash-xmark"></i>
                            </div>
                            </a>
                        </div>
                    </div>`,
        });
        
        // {% endraw %}
        {% include "inc/post.js" %}
        // {% raw %}


        app = new Vue({
            el: "#app",
            data: {},
            methods :{
                text_ar(ev) {
                    let text = document.querySelector('textarea')
                    text.innerHTML = ev.target.innerText
                },
                add_comment() {
                    let text = document.querySelector('textarea')
                    if (text.value){
                        var myHeaders = new Headers();
                            myHeaders.append(
                                "Content-Type",
                                "application/x-www-form-urlencoded"
                            );

                            var urlencoded = new URLSearchParams();
                            urlencoded.append("content", text.value);
                            // {% endraw %}
                            urlencoded.append("id", "{{ post.id }}");
                            // {% raw %}
                            var requestOptions = {
                                method: "POST",
                                headers: myHeaders,
                                body: urlencoded,
                                redirect: "follow",
                            };

                            fetch("/api/comment/add", requestOptions)
                                .then((response) => response.text())
                                .then((result) => {
                                    location.reload()
                                })
                                .catch((error) => console.log("error", error));
                    }
                },
            }
        });
    </script>
    {% endraw %} {% endblock %}
</div>
