{% extends "base.html" %} {% block head %}
<link href="../static/css/global_profile.css" rel="stylesheet" />
<link href="../static/library/Vuetify.css" rel="stylesheet" />

{% endblock %} {% block Title %}{{ user.username }}{% endblock %} {% block
content %}
<div id="app">
    <navbar></navbar>
    <!-- fallowed -->
    <user-header
        username="{{ user.username }}"
        medals="[]"
        coins="{{ user.coins }}"
        avatar="{{ user.avatar }}"
    ></user-header>
</div>
{% endblock content %} {% block script %} {% raw %}
    Vue.component("user-header", {
        props: {
            avatar: {},
            coins: {},
            medals: { default: [] },
            username: {},
            fallowed: { default: false },
            fallower_count: { default: 0 },
        },
        data() {
            return {
                medals_: eval(this.medals),
                color: this.fallowed ? "blue" : "red",
                text: this.fallowed ? "دنبال کردن" : "دنبال نکردن",
            };
        },
        methods: {
            fallow() {
                this.fallowed = !this.fallowed;
                this.color = this.fallowed ? "blue" : "red";
                this.text = this.fallowed ? "دنبال کردن" : "دنبال نکردن";
            },
        },
        template: `
<div>
    <div class="user-header">
        <img :src="'/' + avatar" />
        <h3>{{ username }}</h3>
        <div class="details">
            <div style="padding-top: 10px" class="box">
                <p>🪙</p>
                <p style="font-size: 2rem">{{ coins }}</p>
            </div>
            <div v-for="item in medals_" class="box">
                <img :src="item[0]" />
                <p style="font-size: 1rem">{{ item[1] }}</p>
            </div>
        </div>
        <v-btn @click="fallow" :color="color" v-html="text" X-Large></v-btn>
        <p dir="rtl">{{ fallower_count }} دنبال کننده</p>
    </div>
    <div class="menus">
        <a class="item">دنبال شوندگان</a>
        <a class="item">دنبال کنندگان</a>
        <a class="item">پست ها</a>
    </div>
</div>
`,
    });
    new Vue({ el: "#app" });
{% endraw %} {% endblock %}
