{% extends "base.html" %} {% block head %}
<link href="../static/css/profile.css" rel="stylesheet" />
<link href="../static/css/home.css" rel="stylesheet" />
<link href="../static/library/Vuetify.css" rel="stylesheet" />
<meta name="keywords" content="{{ user.tags }}" />
<meta name="description" content="{{ user.bio }}" />

{% endblock %} {% block Title %}{{ user.username }}{% endblock %} {% block content %}
<div id="app">
    <div @click="usernameValid = false" v-if="usernameValid" class="message_error">
        <i class="fi fi-rr-exclamation"></i>این نام کاربری موجود است!
    </div>
    <navbar></navbar>
    <div class="pbackground relative">
        <div ref="avatar" style=" background-image: url('{{ user.avatar }}'); " class="avatar">
            {% if current_user == user %}
            <div @click="changeAvatar" class="change"><i class="fi fi-rr-camera"></i></div>
            {% endif %}
        </div>
        <div class="infos">
            <input placeholder="username" disabled value="{{ user.name }}" class="username" ref="username" name="username" type="text"
                @keydown.enter="updateUsername" />

            <h6 class="address">
                <i class="fi fi-rr-marker"></i>{{ user.country }}, {{
                user.city }} &nbsp;
            </h6>
            <div class="wraper">
                <p v-html="`{{ user.bio }}`" class="bio"></p>
            </div>
            <div class="flex flex-none gap-8 justify-center items-end mt-5 select-none flex-row-reverse">
                <div class="text-3xl flex flex-none flex-col items-center">
                    <p>{{ user.posts | length }}</p>
                    <p>پست</p>
                </div>
                <a href="/@{{ user.username }}/followers" class="text-3xl flex flex-none flex-col items-center select-none">
                    <p>{{ follows }}</p>
                    <p class="text-xl">دنبال کننده</p>
                </a>
                <a href="/@{{ user.username }}/followings" class="text-3xl flex flex-none flex-col items-center select-none">
                    <p>{{ Follow.query.filter_by(follower=user.id).all() | length - 1 }}</p>
                    <p class="text-xl">دنبال شونده</p>
                </a>
            </div>
            <div class="buttons">
                {% if user.username != 'booki' and current_user != user %}
                    <div @click="follow" ref="follow" style="background-color: var(--blue);box-shadow: 5px 5px 10px #3535356c, -5px -5px 5px #e6e6e6;" class="button" v-if="!followed">
                        دنبال کردن
                    </div>
                    <div @click="follow" ref="follow" style="background-color: var(--red);box-shadow: 5px 5px 10px #3535356c, -5px -5px 5px #e6e6e6;" v-if="followed" class="button">
                        دنبال نکردن
                    </div>
                {% endif %}
                <div @click="location.href = '/chat/{{ user.username }}'" class="button border-2 border-solid border-black text-black">
                {% if current_user != user %}گفتگو{% else %}پیام های شخصی{% endif %}
                </div>
            </div>
            <span class="white"></span>
        </div>
    </div>
    <div class="select-none flex gap-16 flex-none flex-row-reverse justify-center items-center w-4/5 w-full mt-10 mb-10">
        <a class="flex flex-none flex-col items-center justify-center gap-1 text-center text-lg text-[#3f93ca]">
            <i class="text-4xl fi fi-rr-apps"></i>
            پست ها
        </a>
        <a href="/@{{ user.username }}/comments" class="flex flex-none flex-col items-center justify-center cursor-pointer gap-1 text-center text-lg text-[#6d6d6d]">
            <i class="text-4xl fi fi-rr-comments"></i>
            نظرات
        </a>
    </div>
    <div class="flex mt-4 flex-col gap-10 items-center mb-16">
        {% for post in posts %}
            <post {% if post.writer==current_user %} iw="True" {% endif %}
                content="{{ post.content }}" id="{{ post.id }}"
                image="{{ post.img }}"
                name="{{ post.writer.name }}"
                username="{{ post.writer.username }}" avatar="{{ post.writer.avatar }}" date="{{ fAge(post.date) }}"
                classes="post img-container min-h-40 rounded-xl mb-5 p-3 bg-[#fefefe] w-4/5" {% if Like.query.filter_by(liked=post.id, liker=current_user.id).all() %}
                like_classes="liked" {% endif %} likes="{{ Like.query.filter_by(liked=post.id).all() | length }}" comment_length="{{ post.comments | length }}">
            </post>
        {% endfor %}
        {% if not posts %}
        <p class="mt-2 text-[#6d6d6d]">هیچ پستی یافت نشد</p>
        {% endif %}
    </div>
</div>
{% raw %}
<script>
    Vue.component("user", {
        props: ["img", "score", "href", "username"],
        template: `
                        <div style="transform: scale(.7);margin-left: 23%;" dir="rtl" class="user">
                                <a :href="href">
                                    <img :src="img" />
                                </a>
                                <a :href="href">
                                    <div>
                                        <p>
                                            {{ username }}

                                        </p>
                                        <small>🪙{{ score }}</small>
                                    </div>
                                </a>
                            </div>
                        `,
    });

    // {% endraw %}
    {% include "inc/post.js" %}
    new Vue({
        el: "#app",
        data: {
        // {% if follow %}
            followed: true,
        // {% else %}
            followed: false,
        // {% endif %}
            usernameValid: false,
        type: "password"
        },

    methods: {
        changeAvatar(){
            var inputElement = document.createElement("input");
            inputElement.type = "file";
            inputElement.accept = "image/jpeg, image/png";

            inputElement.addEventListener("change", (event) => {
                var file = event.target.files[0];
                var fileType = file.type;

                if (fileType === "image/jpeg" || fileType === "image/png") {
                    var formData = new FormData();
                    formData.append("file", file);

                    fetch("/api/uploadavatar", {
                        method: "POST",
                        body: formData,
                    })
                        .then((response) => {
                            if (response.ok) {
                                console.log("OK");
                                return response.json();
                            } else {
                                console.error("no OK");
                            }
                        })
                        .then((data) => {
                            console.log(data);
                            if (data.success) {
                                this.$refs.avatar.style.backgroundImage = "url(" + data.url + ")";
                            }
                        })
                        .catch((error) => {
                            console.error(error);
                        });
                }
            });

            inputElement.click();
        },
        follow() {
            var formData = new FormData();
            formData.append("id", {{ user.id }});
        // {% raw %}

        if (!this.followed) {
            fetch("/api/addfollow", { method: "PUT", body: formData });
            setTimeout(() => {
                this.followed = true;
            }, 500);
        } else {
            fetch("/api/delfollow", {
                method: "DELETE",
                body: formData,
            });

            setTimeout(() => {
                this.followed = false;
            }, 500);
        }
    },
        },
    });

</script>
{% endraw %} {% endblock %}