{% extends "base.html" %} {% block head %}
<link href="../static/css/profile.css" rel="stylesheet" />
<link href="../static/css/home.css" rel="stylesheet" />
<link href="../static/library/Vuetify.css" rel="stylesheet" />
<meta name="keywords" content="{{ user.tags }}" />
<meta name="description" content="{{ user.bio }}" />

{% endblock %} {% block Title %}{{ user.username }}{% endblock %} {% block content %}
<div id="app">
    <div @click="usernameValid = false" v-if="usernameValid" class="message_error">
        <i class="fi fi-rr-exclamation"></i>این نام کاربری موجود است!
    </div>
    <navbar></navbar>
    <div class="pbackground">
        <div ref="avatar" style=" background-image: url('{{ user.avatar }}'); " class="avatar">
            {% if current_user == user %}
            <div @click="changeAvatar" class="change"><i class="fi fi-rr-camera"></i></div>
            {% endif %}
        </div>
        <div class="infos">
            <input placeholder="username" disabled value="{{ user.username }}" class="username" ref="username" name="username" type="text"
                @keydown.enter="updateUsername" />

            <h6 class="address">
                <i class="fi fi-rr-marker"></i>{{ user.country }}, {{
                user.city }} &nbsp;
            </h6>
            <div class="wraper">
                <p v-html="`{{ user.bio }}`" class="bio"></p>
            </div>
            <div class="flex flex-none gap-8 justify-center items-end mt-5 select-none flex-row-reverse">
                <div class="text-3xl flex flex-none flex-col items-center">
                    <p>{{ user.posts | length }}</p>
                    <p>پست</p>
                </div>
                <a href="/@{{ user.username }}/followers" class="text-3xl flex flex-none flex-col items-center select-none">
                    <p>{{ follows }}</p>
                    <p class="text-xl">دنبال کننده</p>
                </a>
                <a href="/@{{ user.username }}/followings" class="text-3xl flex flex-none flex-col items-center select-none">
                    <p>{{ Follow.query.filter_by(followed=user.id).all() | length }}</p>
                    <p class="text-xl">دنبال شونده</p>
                </a>
            </div>
            {% if user.username != 'booki' and current_user != user %}
            <div class="buttons">
                <div @click="follow" ref="follow" style="background-color: var(--blue)" class="button" v-if="!followed">
                    دنبال کردن
                </div>
                <div @click="follow" ref="follow" style="background-color: var(--red)" v-if="followed" class="button">
                    دنبال نکردن
                </div>
            </div>
            <span class="white"></span>
            {% endif %}
        </div>
    </div>
    <div class="flex mt-64 flex-col gap-10 items-center">
        {% for post in posts %}
            <post {% if post.writer==current_user %} iw="True" {% endif %}
                content="{{ post.content }}" id="{{ post.id }}"
                image="{{ post.img }}"
                username="{{ post.writer.username }}" avatar="{{ post.writer.avatar }}" date="{{ fAge(post.date) }}"
                classes="post img-container min-h-40 rounded-xl mb-5 p-3 bg-[#fefefe] w-4/5" {% if Like.query.filter_by(liked=post.id, liker=current_user.id).all() %}
                like_classes="liked" {% endif %} likes="{{ Like.query.filter_by(liked=post.id).all() | length }}" comment_length="{{ post.comments | length }}">
            </post>
        {% endfor %}
    </div>
</div>
{% raw %}
<script>
    Vue.component("user", {
        props: ["img", "score", "href", "username"],
        template: `
                        <div style="transform: scale(.7);margin-left: 23%;" dir="rtl" class="user">
                                <a :href="href">
                                    <img :src="img" />
                                </a>
                                <a :href="href">
                                    <div>
                                        <p>
                                            {{ username }}

                                        </p>
                                        <small>🪙{{ score }}</small>
                                    </div>
                                </a>
                            </div>
                        `,
    });

    Vue.component("post", {
        props: {
            id: {},
            comment_length: {},
            content: {},
            username: {},
            img: {},
            image: {},
            avatar: {},
            date: "",
            like_classes: {
                default: ""
            },
            likes: {
                default: 0,
            },
            iw: {
                default: false,
            },
            classes: { default: "post" },
        },
        data() {
            return {
                is: true,
                delete_button: "حذف"
            };
        },

        methods: {
            like() {
                // this function to like the post
                // if not liked
                if (this.like_classes) {
                    var data = new FormData();
                    data.append('postId', this.id)
                    fetch('/api/unlike', {
                        method: "POST",
                        body: data,
                    }).then((response) => { return response.json() }).then(
                        (data) => {
                            if (data.success) {
                                this.$refs.like_icon.style.color = "black"
                                this.like_classes = "";
                                this.likes--;
                            }
                        })
                // if liked
                } else {
                    var data = new FormData();
                    data.append('postId', this.id)
                    fetch('/api/like', {
                        method: "POST",
                        body: data,
                    }).then((response) => { return response.json() }).then(
                        (data) => {
                            if (data.success) {
                                this.$refs.like_icon.style.color = "var(--red)"
                                this.like_classes = "liked";
                                this.likes++;
                            }
                        })
                }
            },
            delete_() {
                // this function to delete the post
                if (
                    this.$refs.itrash.getAttribute("class") ===
                    "fi fi-rr-check"
                ) {
                    var myHeaders = new Headers();
                    myHeaders.append(
                        "Content-Type",
                        "application/x-www-form-urlencoded"
                    );

                    var urlencoded = new URLSearchParams();
                    urlencoded.append("id", this.id);
                    var requestOptions = {
                        method: "DELETE",
                        headers: myHeaders,
                        body: urlencoded,
                        redirect: "follow",
                    };

                    fetch("/api/delete", requestOptions)
                        .then((response) => response.text())

                        .then((result) => {
                            this.is = false;
                        })
                        .catch((error) => console.log("error", error));
                } else {
                    this.$refs.itrash.setAttribute(
                        "class",
                        "fi fi-rr-check"
                    );
                    this.$refs.trash.setAttribute("class", "px-3 gap-10 py-2 rounded flex items-center border-2 border-[#6d6d6d] transition-all duration-300 ease-out hover:opacity-90 bg-white flex-none cursor-pointer justify-center liked");
                    this.delete_button = "مطمئنید؟"
                }
            },
        },
        template: `
                        <div v-if="is" :class="classes">
                            <div dir="rtl" class="flex justify-start text-lg w-9/10 text-[#292929] gap-2 relative h-20 user items-center mr-5">
                                <a :href="'\@' + username">
                                    <img :src="avatar" />
                                </a>
                                <a :href="'\@' + username">
                                    <div>
                                        <p>
                                            {{ username }}

                                        </p>
                                        <small>{{ date }}</small>
                                    </div>
                                </a>
                            </div>
                            <div dir="rtl" class="flex gap-3 items-center justofy-center flex-col">
                                <img @dblclick="like" v-if="image != 'http://127.0.0.1:5000/static/pictures/select_post_image.png'" class="img" :src="image" />
                                <p v-html="content"></p>    
                            </div>
                            <div dir="rtl" class="flex flex-none flex-wrap flex-row gap-3 mt-16 border-t-2 border-[#2929292f] pt-3">
                                <div @click="like" ref="like" :class="'px-3 gap-10 py-2 rounded flex items-center justify-between border-2 border-[#6d6d6d] transition-all duration-300 ease-out hover:opacity-90 cursor-pointer  bg-white flex-none ' + like_classes">
                                    <i ref="like_icon" class="fi fi-rr-circle-heart"></i>
                                    <small>{{ likes }}</small>
                                </div>
                                <div @click="window.location.href = '/post/' + id" class="px-3 gap-10 py-2 rounded flex items-center transition-all duration-300 ease-out hover:opacity-90 bg-white flex-none justify-between border-2 border-[#005be4] text-[#005be4] cursor-pointer  text-[#6969ff]">
                                    <i class="fi fi-rr-comment"></i>
                                    <small>{{ comment_length }}</small>
                                </div>
                                <div v-if="iw" @click="delete_" ref="trash" class="px-3 gap-10 py-2 rounded flex items-center border-2 border-[#6d6d6d] transition-all duration-300 ease-out hover:opacity-90 bg-white flex-none cursor-pointer justify-center">
                                    {{ delete_button }} <i ref="itrash" class="fi fi-rr-trash-xmark"></i>
                                </div>
                                </a>
                            </div>
                        </div>
                    `,
    });
    // {% endraw %}
    new Vue({
        el: "#app",
        data: {
        // {% if follow %}
            followed: true,
        // {% else %}
            followed: false,
        // {% endif %}
            usernameValid: false,
        type: "password"
        },

    methods: {
        changeAvatar(){
            var inputElement = document.createElement("input");
            inputElement.type = "file";
            inputElement.accept = "image/jpeg, image/png";

            inputElement.addEventListener("change", (event) => {
                var file = event.target.files[0];
                var fileType = file.type;

                if (fileType === "image/jpeg" || fileType === "image/png") {
                    var formData = new FormData();
                    formData.append("file", file);

                    fetch("/api/uploadavatar", {
                        method: "POST",
                        body: formData,
                    })
                        .then((response) => {
                            if (response.ok) {
                                console.log("OK");
                                return response.json();
                            } else {
                                console.error("no OK");
                            }
                        })
                        .then((data) => {
                            console.log(data);
                            if (data.success) {
                                this.$refs.avatar.style.backgroundImage = "url(" + data.url + ")";
                            }
                        })
                        .catch((error) => {
                            console.error(error);
                        });
                }
            });

            inputElement.click();
        },
        follow() {
            var formData = new FormData();
            formData.append("id", {{ user.id }});
        // {% raw %}

        if (!this.followed) {
            fetch("/api/addfollow", { method: "PUT", body: formData });
            setTimeout(() => {
                this.followed = true;
            }, 500);
        } else {
            fetch("/api/delfollow", {
                method: "DELETE",
                body: formData,
            });

            setTimeout(() => {
                this.followed = false;
            }, 500);
        }
    },
        },
    });

</script>
{% endraw %} {% endblock %}