<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>تنظیمات پروفایل</title>

        <link rel="stylesheet" href="../static/css/root.css" />
        <link rel="stylesheet" href="../static/css/settings.css" />
        <link rel="stylesheet" href="../static/library/Vuetify.css" />
    </head>
    <body>
        <div id="app">
            <navbar active_item="profile"></navbar>
            <div class="settings">
                <avatar-settings
                    this_avatar="https://cdn4.iconfinder.com/data/icons/micro-illustrations-set-2/256/Online_Work-512.png"
                    avatars_str='
                    [
                        "https://cdn-icons-png.flaticon.com/512/1999/1999625.png",
                        "https://cdn-icons-png.flaticon.com/512/1211/1211015.png",
                        "https://cdn-icons-png.flaticon.com/512/4845/4845146.png",
                        "https://cdn-icons-png.flaticon.com/512/4140/4140037.png",
                        "https://cdn2.iconfinder.com/data/icons/male-avatars/512/avatars_accounts___man_male_people_person_hoodie_boy_child.png",
                        "https://cdn4.iconfinder.com/data/icons/profession-3d-avatars-3d-illustration-pack/512/07_Gamer.png",
                        "https://cdn1.iconfinder.com/data/icons/avatar-255/512/10.YOUNG_MAN.png",
                        "https://cdn4.iconfinder.com/data/icons/profession-3d-avatars-3d-illustration-pack/512/02_Bussinesman.png",
                        "https://cdn1.iconfinder.com/data/icons/avatar-265/512/Man_Using_Headphones.png",
                        "https://cdn4.iconfinder.com/data/icons/micro-illustrations-set-2/256/Online_Work-512.png",
                        "https://cdn4.iconfinder.com/data/icons/pop-avatars/1000/accounts_avatars___person_user_account_avatar_man_male_shirt_tshirt_boy-512.png",
                        "https://cdn4.iconfinder.com/data/icons/purrity-avatars/1000/avatars_and_characters___man_male_boy_sunglasses_confused_haircut_fashion-512.png",
                    ];
                '
                ></avatar-settings>
                <other username_="ali"></other>
            </div>
        </div>

        <script src="../static/library/vue.js"></script>
        <script src="../static/library/Vuetify.js"></script>
        <!-- Vue -->
        <script
            src="https://kit.fontawesome.com/7552b865b0.js"
            crossorigin="anonymous"
        ></script>
        <!-- FontAwesome -->
        <script>
            Vue.component("navbar-item", {
                props: {
                    text: {},
                    href: {},
                    active: {
                        default: false,
                    },
                },
                template: `
                          <a ref="a" class="navbar-item" v-html="text" :href="href"></a>
                          `,
            });

            Vue.component("navbar", {
                props: {
                    active_item: {
                        default: false,
                    },
                    message_count: {
                        default: 0,
                    },
                },
                data() {
                    return {};
                },
                methods: {
                    plus() {
                        this.$refs.button.classList.toggle("is-active");
                    },
                    comment() {
                        this.$emit("comment");
                    },
                },
                template: `
                        <nav class="nav">
                              <img class="logo" src="https://cdn-icons-png.flaticon.com/512/4096/4096358.png" />
                              <div class="nav-items">
                                <navbar-item href="#" ref="profile" text="پروفایل" :class="{ active: active_item === 'profile' }"></navbar-item>
                                <navbar-item href="#" ref="dasboard" text="جستجو" :class="{ active: active_item === 'search' }"></navbar-item>
                                <navbar-item href="#" ref="chatroom" text="گفتگو" :class="{ active: active_item === 'chat' }"></navbar-item>
                                <navbar-item href="#" ref="chatroom" text="خانه" :class="{ active: active_item === 'home' }"></navbar-item>
                              </div>
                              <div class="profile-nav">
                                  <i class="fa-solid fa-envelope"><div v-if="message_count" class="note_num">3</div></i>
                                  <img class="profile-pic" src="https://cdn-icons-png.flaticon.com/512/4096/4096358.png" />
                              </div>
                              <div v-if="active_item=='home'" dir="rtl" ref="button" class="plus-button">
                                <a @click="plus" href="#" class="button">
                                    <svg class="arrow arrow-left" viewBox="0 0 448 448">
                                        <path
                                            d="M272 176H32c-18 0-32 14-32 32v32c0 18 14 32 32 32h144v144c0 18 14 32 32 32h32c18 0 32-14 32-32V176z"
                                        />
                                    </svg>
                                    <svg class="arrow arrow-right" viewBox="0 0 448 448">
                                        <path
                                            d="M176 272h240c18 0 32-14 32-32v-32c0-18-14-32-32-32H272V32c0-18-14-32-32-32h-32c-18 0-32 14-32 32v240z"
                                        />
                                    </svg>
                                </a>
                                <div class="menu">
                                    <a href="#">مقاله</a><br />
                                    <a @click="comment" href="#">نظر</a><br />
                                </div>
                            </div>
                        </nav>`,
            });

            Vue.component("avatar-settings", {
                props: ["username_", "this_avatar"],
                methods: {
                    change(avatar_src) {
                        this.this_avatar = avatar_src;
                    },
                    upload() {},
                },
                data() {
                    return {
                        avatars: [],
                        username: this.username_,
                    };
                },
                 mounted() {
                    for (var i = 1; i <= 67; i++) {
                        this.avatars.push("./static/pictures/avatars/" + i + ".png");
                    }
                    console.log(this.avatars);
                },
                template: `
                <div class="avatars">
                    <img :src="this_avatar" />
                    <div class="avatar-boxs">
                        <img @click="change(avatar)" v-for="avatar in avatars" :src="avatar" />
                    </div>
                </div>
                `,
            });

            Vue.component("other", {
                props: ["username_"],
                data() {
                    return {
                        error_username: false,
                    };
                },
                methods: {
                    change(ref) {
                        this.$refs[ref].disabled = false;
                        this.$refs[ref].focus();
                        this.$refs[ref + "-i"].removeEventListener(
                            "click",
                            this.change
                        );
                        this.$refs[ref + "-i"].addEventListener("click", () =>
                            this.update(ref)
                        );
                        this.$refs[ref + "-i"].classList.remove("fa-pen");
                        this.$refs[ref + "-i"].classList.add("fa-check");
                    },
                    update(ref) {
                        if (
                            ref == "username" &&
                            this.$refs[ref].value.length > 15
                        ) {
                            this.error_username = true;
                            return "";
                        } else {
                            this.error_username = false;
                        }
                        this.$refs[ref].disabled = true;
                        this.$refs[ref + "-i"].removeEventListener(
                            "click",
                            () => this.update(ref)
                        );
                        this.$refs[ref + "-i"].addEventListener("click", () =>
                            this.change(ref)
                        );
                        this.$refs[ref + "-i"].classList.add("fa-pen");
                        this.$refs[ref + "-i"].classList.remove("fa-check");
                    },
                },
                template: `
                    <div class="settings">
                        <div class="input-container">
                            <input ref="username" :value="username_" :disabled="true" />
                            <p v-if="error_username" class="error">Please enter a username of less than 15 characters</p>
                            <i @click="change('username')" ref="username-i" class="fa-solid fa-pen"></i>
                        </div>
                        <a :href="'/@' + username_"><v-btn x-large color="blue">پروفایل عمومی</v-btn>
                    </div>
                    `,
            });

            const app = new Vue({
                el: "#app",
            });
        </script>
    </body>
</html>
