{% extends "base.html" %} {% block head %}
<link rel="stylesheet" href="./static/css/register.css" />
{% endblock %} {% block Title %}ثبت نام{% endblock %} {% block content %} {% raw
%}
<div id="app" dir="rtl" class="Form-box">
    <div>
        <h4 ref="title" class="title">به جامعه بزرگ بوکی خوش آمدید!</h4>
        <br />
        <h5 style="font-size: 1.1rem" v-if="scene == 'phone'">
            لطفا تلفن خود را وارد کنید
        </h5>
    </div>
    <div class="inp-box">
        <input
            placeholder="none"
            :type="scene == 'phone' ? 'tel' : scene == 'password' ? 'password': 'text'"
            maxlength="15"
            ref="input"
            :type="type"
            v-model="value"
            @keydown="typed"
            @keydown.enter.stop="check"
            :placeholder="placeholder"
            dir="rtl"
            v-show="scene == 'username' || scene == 'password' || scene == 'address' || scene == 'phone' || scene == 'name'"
            class="input"
        /><br
            v-if="scene == 'password' || scene == 'address' || scene == 'phone_c'"
        />

        <textarea
            placeholder="من یک ..."
            maxlength="300"
            ref="text"
            v-model="value"
            v-show="scene == 'bio'"
            class="input"
        ></textarea
        ><br v-if="scene == 'password' || scene == 'address'" />

        <input
            placeholder="none"
            @keydown.enter.stop="check"
            @paste="(ev) => {
                if (scene == 'password') {
                    ev.preventDefault()
                }
            }"
            ref="input_2"
            maxlength="30"
            :type="type_2"
            v-model="value_2"
            :placeholder="placeholder_2"
            @keydown="typed"
            dir="rtl"
            v-if="scene == 'password' || scene == 'address' || scene == 'phone_c'"
            class="input"
        />

        <img
            alt="profile"
            @click="changeProfile"
            v-if="scene == 'profile'"
            class="profile"
            ref="image"
            src="https://cdn-icons-png.flaticon.com/512/3177/3177440.png"
        />
        <br v-if="error" />
        <p ref="error" v-if="error" class="error">{{ error_text }}</p>
        <p dir="rtl" v-if="on_upload" ref="error" class="error">
            فقط یک لحظه...
        </p>
        <br />
        <p
            ref="characters"
            v-if="(scene == 'username' || scene == 'password') && character"
            class="input-detail"
        >
            حداقل {{ character }} کاراکتر باشد
        </p>
        <p
            ref="characters"
            v-if="(scene == 'name') && info_error"
            class="input-detail text-[red]"
        >
        نام باید حداقل 3 کاراکتر باشد
        </p>
    </div>

    <button
        v-if="scene != 'profile' && scene != 'gender'"
        @click.stop="check"
        ref="sub"
        id="username-sub"
    >
        {{ button_text }}
    </button>
    <div v-if="scene == 'gender'" class="genders">
        <div @click="Rgender = 'man'; next()" class="box justify-center flex items-center">
            <img
                alt="man"
                src="https://cdn-icons-png.flaticon.com/512/6997/6997674.png"
            />
        </div>
        <div @click="Rgender = 'woman'; next()" class="box justify-center flex items-center">
            <img
                alt="woman"
                src="https://cdn-icons-png.flaticon.com/512/6997/6997662.png"
            />
        </div>
    </div>
    <p v-if="scene == 'phone'" class="link">
        حساب دارید؟ <a href="/">وارد شوید!</a>
    </p>
    <p v-if="scene == 'profile'" @click="next()" class="link">
        <a>الان نه</a>
    </p>
</div>
<script>
    new Vue({
        el: "#app",
        data: {
            error_text: "",
            character: "3",
            error: false,
            value: "",
            value_2: "",
            button_text: "بعدی",
            info_error: false,
            placeholder: "phone",
            placeholder_2: "code",
            scene: "phone",
            phone_number: "",
            code: "",
            on_upload: false,
            Rusername: "",
            Rpassword: "",
            Rbio: "",
            Rcountry: "",
            Rcity: "",
            Rgender: "",
            Ravatar: "https://cdn-icons-png.flaticon.com/512/3177/3177440.png",
            type: "text",
            type_2: "text",
            Rname: "",
        },
        methods: {
            check(ev) {
                // this function is for input validations
                if (this.scene == "phone") {
                    const regex = /09\d\d\d\d\d\d\d\d\d/g;
                    const phone = this.value.match(regex)

                    if (
                        !phone ||
                        (
                            phone &&
                            phone[0] != this.value
                        )
                    ) {

                        this.error = true;
                        this.error_text =
                            "لطفا شماره تلفن را به صورت صحیح (09xxxxxxxxx) وارد کنید";

                        return "";
                    }
                    this.phone();
                }
                if (this.scene == "phone_c") {
                    if (this.value_2.length != 6) {
                        this.error = true;
                        this.error_text =
                            "کد صحیح نیست! لطفا دوباره بررسی کنید";

                        return "";
                    }
                    this.phone();
                }
                if (this.scene == "username") {
                    if (this.value.length < 3) {
                        this.$refs.characters.style.color = "red";
                        this.info_error = true;

                        return "";
                    } else if (!/^[a-zA-Z0-9_]+$/gm.test(this.value)) {
                        this.error = true;
                        this.error_text = "فقط حروف انگلیسی، اعداد و زیر خط";

                        return "";
                    }
                    this.valid();
                } else if (this.scene == "name") {
                    if (this.value.trim().length < 3) {
                        this.info_error = true;

                        return "";
                    }
                    this.next();
                } else if (this.scene == "password") {
                    if (this.value == this.value_2) {
                        this.error = false;
                        if (this.value.length < 8) {
                            this.$refs.characters.style.color = "red";
                            this.info_error = true;
                        } else {
                            this.next();
                        }
                    } else {
                        this.error = true;
                        this.error_text = "رمز عبور ها مطابقت ندارند";
                    }
                } else if (this.scene == "address") {
                    if (this.value && this.value_2) {
                        this.next();
                    }
                } else if (this.scene == "bio") {
                    this.next();
                }
            },
            typed() {
                // this function is for handle key writing
                if (this.scene == "username") {
                    if (this.value.length > 1) {
                        this.$refs.characters.style.color = "green";
                        this.info_error = false;
                        this.persian_username = false;
                    }
                }
                if (this.scene == "password") {
                    if (this.value.length > 8) {
                        this.$refs.characters.style.color = "green";
                        this.persian_username = false;
                        this.info_error = false;
                    }
                }
                this.error = false;
            },
            valid() {
                // this function is for username validation
                var myHeaders = new Headers();
                myHeaders.append(
                    "Content-Type",
                    "application/x-www-form-urlencoded"
                );

                var urlencoded = new URLSearchParams();
                urlencoded.append("username", this.value);

                var requestOptions = {
                    method: "POST",
                    headers: myHeaders,
                    body: urlencoded,
                    redirect: "follow",
                };

                if (!this.info_error) {
                    if (this.error) {
                        if (
                            this.error_text !=
                            "مشکلی پیش آمده، کمی بعد دوباره تلاش کنید"
                        ) {
                            return "";
                        }
                    }
                    fetch("/api/userValid", requestOptions)
                        .then((response) => {
                            if (response.status == 429) {
                                throw new Error("429");
                            }
                            return response.json();
                        })
                        .then((data) => {
                            if (data.success) {
                                if (data.valid) {
                                    this.error = true;
                                    this.error_text =
                                        "این نام کاربری موجود است!";
                                } else {
                                    this.next();
                                }
                            }
                        })
                        .catch((error) => {
                            this.error = true;
                            this.error_text =
                                "مشکلی پیش آمده، کمی بعد دوباره تلاش کنید";
                        });
                }
            },
            changeProfile() {
                // this function is for upload user avatar
                var inputElement = document.createElement("input");
                inputElement.type = "file";
                inputElement.accept = "image/jpeg, image/png";

                inputElement.addEventListener("change", (event) => {
                    var file = event.target.files[0];
                    var fileType = file.type;

                    if (fileType === "image/jpeg" || fileType === "image/png") {
                        var formData = new FormData();
                        formData.append("file", file);

                        this.on_upload = true;
                        
                        fetch("/api/uploadavatar", {
                            method: "POST",
                            body: formData,
                        })
                            .then((response) => {
                                if (response.status == 429) {
                                    throw new Error("429");
                                }
                                if (response.ok) {
                                    return response.json();
                                } else {
                                    console.error("no OK");
                                }
                                this.on_upload = false;
                            })
                            .then((data) => {
                                if (data.success) {
                                    this.Ravatar = data.url;
                                    this.$refs.image.src = data.url;
                                    this.next();
                                }
                                this.on_upload = false;
                            })
                            .catch((error) => {
                                this.error = true;
                                this.on_upload = false;
                                this.error_text =
                                    "مشکلی پیش آمده، کمی بعد دوباره تلاش کنید";
                            });
                    }
                });

                inputElement.click();
            },
            phone() {
                if (this.scene == "phone") {
                    const data = new FormData();
                    data.append("phone", this.value);
                    fetch("/api/register/phone", { method: "POST", body: data })
                        .then((response) => response.json())
                        .then((data) => {
                            if (data.valid) {
                                this.scene = "phone_c";
                                this.$refs.title.innerHTML =
                                    "لطفا کد ارسال شده را وارد کنید";
                                this.phone_number = this.value;
                            } else {
                                this.error = true;
                                this.error_text = "این تلفن ثبت شده است!";
                            }
                        })
                        .catch(() => {
                            this.error = true;
                            this.error_text =
                                "مشکلی پیش آمده است، کمی بعد دوباره تلاش کنید";
                        });
                } else if (this.scene == "phone_c") {
                    const data = new FormData();
                    data.append("phone", this.phone_number);
                    data.append("code", this.value_2);
                    fetch("/api/register/phone", { method: "POST", body: data })
                        .then((response) => response.json())
                        .then((data) => {
                            if (data.valid) {
                                this.code = this.value_2;
                                this.scene = "username";
                                this.value = "";
                                this.value_2 = "";
                                this.placeholder = "نام کاربری";
                                this.$refs.title.innerHTML =
                                    "یک نام کاربری برای خود انتخاب کنید";
                            } else {
                                this.error = true;
                                this.error_text =
                                    "کد صحیح نیست یا منقضی شده است، لطفا دوباره بررسی کنید";
                            }
                        })
                        .catch(() => {
                            this.error = true;
                            this.error_text =
                                "مشکلی پیش آمده است، لطفا بعدا دوباره تلاش کنید";
                        });
                }
            },
            next() {
                // this function is for change to the next scene
                if (this.scene == "username") {
                    this.$refs.title.innerHTML = "نام نمایشی خود را وارد کنید";
                    this.placeholder = "نام نمایشی";
                    this.placeholder_2 = "Password again";
                    this.scene = "name";
                    this.Rusername = this.value;
                } else if (this.scene == "name") {
                    this.$refs.title.innerHTML = "رمز عبور خود را وارد کنید";
                    this.placeholder = "Password";
                    this.placeholder_2 = "Password again";
                    this.type = "password";
                    this.type_2 = "password";
                    this.scene = "password";
                    this.character = "8";
                    this.Rname = this.value;
                } else if (this.scene == "password") {
                    this.$refs.title.innerHTML = "لطفا بیو خود را وارد کنید";
                    this.type = "text";
                    this.type_2 = "text";
                    this.scene = "bio";
                    this.placeholder = "من یک ...";
                    this.$refs.text.style.height = "100px";
                    this.$refs.text.style.direction = "rtl";
                    this.$refs.text.style.fontSize = ".8rem";
                    this.$refs.text.tag = "textarea";
                    this.$refs.text.focus();
                    this.Rpassword = this.value;
                    this.character = "0";
                } else if (this.scene == "bio") {
                    this.$refs.title.innerHTML = "لطفا آدرس خود را وارد کنید";
                    this.placeholder = "کشور";
                    this.placeholder_2 = "شهر";
                    this.scene = "address";
                    this.Rbio = this.value;
                    this.character = "0";
                    this.$refs.input.focus();
                } else if (this.scene == "address") {
                    this.$refs.title.innerHTML =
                        "لطفا عکس پروفایل خود را بارگذاری کنید";
                    this.scene = "profile";
                    this.Rcountry = this.value;
                    this.Rcity = this.value_2;
                } else if (this.scene == "profile") {
                    this.$refs.title.innerHTML =
                        "لطفا جنسیت خود را انتخاب کنید";
                    this.scene = "gender";
                } else if (this.scene == "gender") {
                    var formData = new FormData();
                    var loginData = new FormData();
                    formData.append("gender", this.Rgender);
                    formData.append("username", this.Rusername);
                    formData.append("password", this.Rpassword);
                    formData.append("city", this.Rcity);
                    formData.append("country", this.Rcountry);
                    formData.append("avatar", this.Ravatar);
                    formData.append("bio", this.Rbio);
                    formData.append("phone", this.phone_number);
                    formData.append("code", this.code);
                    formData.append("name", this.Rname);

                    loginData.append("username", this.Rusername);
                    loginData.append("password", this.Rpassword);

                    // register the user
                    fetch("/api/adduser", {
                        method: "PUT",
                        body: formData,
                    })
                        .then((response) => {
                            if (response.ok) {
                                fetch("/api/userValid", {
                                    method: "POST",
                                    body: loginData,
                                }).then((response) => {
                                    if (response.ok) {
                                        window.location.href =
                                            "/?login=Register";
                                    }
                                });
                                return response.json();
                            } else if (response.status == 429) {
                                throw new Error("429");
                            }
                        })
                        .then((data) => {})
                        .catch((error) => {
                            if (error == "Error: 429") {
                                this.error = true;
                                this.error_text =
                                    "درخواست های بیش از حد، کمی بعد امتحان کنید";
                            } else {
                                this.error = true;
                                this.error_text =
                                    "مشکلی پیش آمده، کمی بعد دوباره تلاش کنید";
                            }
                            setTimeout(() => {
                                location.reload();
                            }, 1500);
                            console.error(error);
                        });
                }
                this.value = "";
                this.value_2 = "";
            },
        },
    });
</script>
{% endraw %} {% endblock %}
