{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="/static/css/search.css" />
<link rel="stylesheet" href="/static/css/home.css" />
{% endblock %}


{% block Title %}جستجو{% endblock %}


{% block content %}
<div id="app">
    <navbar active_item="search"></navbar>
    <search></search>
    <div class="posts">
        {% if search %}
        {% if not result %}
        <p dir="rtl">نتیجه ای یافت نشد!</p>
        {% endif %}
        {% for post in result %}
        <post {% if post.writer==current_user %} iw="True" {% endif %}
            content="<img class='img' src='{{ post.img }}'><p>{{ post.content }}</p>" id="{{ post.id }}"
            username="{{ post.writer.username }}" avatar="{{ post.writer.avatar }}" date="{{ fAge(post.date) }}"
            classes="img-container post" {% if Like.query.filter_by(liked=post.id, liker=current_user.id).all() %}
            like_classes="liked" {% endif %} likes="{{ Like.query.filter_by(liked=post.id).all() | length }}">
        </post>
        {% endfor %}

        {% endif %}
    </div>
</div>
<script src="/static/library/vuetify.js"></script>

<script>
    Vue.component("search", {
        data() { },
        methods: {
            submit() {
                if (
                    this.$refs.search_input.value.replace(/\s/g, "") != ""
                ) {
                    setTimeout(() => {
                        this.$refs.root.submit();
                    }, 500);
                }
            },
        },
        template: `
                    <form ref='root' method="POST" action="">
                        <input value="{{ search_value }}" ref="search_input" required type="search" name="search_value">
                        <v-btn @click="submit" x-large color="blue">جستجو</v-btn>
                    </form>
                `,
    });
</script>
{% raw %}
<script>
    Vue.component("post", {
        props: {
            id: {},
            content: {},
            username: {},
            img: {},
            avatar: {},
            date: "",
            like_classes: {
                default: ""
            },
            likes: {
                default: 0,
            },
            iw: {
                default: false,
            },
            classes: { default: "post" },
        },
        data() {
            return {
                is: true,
                delete_button: "حذف"
            };
        },

        methods: {
            like() {
                if (this.like_classes) {
                    var data = new FormData();
                    data.append('postId', this.id)
                    fetch('/api/unlike', {
                        method: "POST",
                        body: data,
                    }).then((response) => { return response.json() }).then(
                        (data) => {
                            if (data.success) {
                                this.$refs.like_icon.style.color = "black"
                                this.like_classes = "";
                                this.likes--;
                            }
                        })
                } else {
                    var data = new FormData();
                    data.append('postId', this.id)
                    fetch('/api/like', {
                        method: "POST",
                        body: data,
                    }).then((response) => { return response.json() }).then(
                        (data) => {
                            if (data.success) {
                                this.$refs.like_icon.style.color = "var(--red)"
                                this.like_classes = "liked";
                                this.likes++;
                            }
                        })
                }
            },
            exclamation(ev) {
                this.$refs.message.style.opacity = "1";
                this.$refs.message.style.left = "-19px";
                this.$refs.message.innerText = "گزارش داده شد!";
                setTimeout(() => {
                    this.$refs.message.style = "";
                    this.$refs.message.style.left = "-19px";
                }, 2000);
            },
            delete_() {
                if (
                    this.$refs.itrash.getAttribute("class") ===
                    "fi fi-rr-check"
                ) {
                    var myHeaders = new Headers();
                    myHeaders.append(
                        "Content-Type",
                        "application/x-www-form-urlencoded"
                    );

                    var urlencoded = new URLSearchParams();
                    urlencoded.append("id", this.id);
                    var requestOptions = {
                        method: "DELETE",
                        headers: myHeaders,
                        body: urlencoded,
                        redirect: "follow",
                    };

                    fetch("/api/delete", requestOptions)
                        .then((response) => response.text())

                        .then((result) => {
                            this.is = false;
                        })
                        .catch((error) => console.log("error", error));
                } else {
                    this.$refs.itrash.setAttribute(
                        "class",
                        "fi fi-rr-check"
                    );
                    this.$refs.trash.setAttribute("class", "like trash liked");
                    this.delete_button = "مطمئنید؟"
                }
            },
        },
        template: `
                        <div v-if="is" :class="classes">
                            <div dir="rtl" class="user">
                                <a :href="'\@' + username">
                                    <img :src="avatar" />
                                </a>
                                <a :href="'\@' + username">
                                    <div>
                                        <p>
                                            {{ username }}

                                        </p>
                                        <small>{{ date }}</small>
                                    </div>
                                </a>
                            </div>
                            <div v-html="content" dir="rtl" class="content"></div>
                            <div dir="rtl" class="bottom">
                                <div @click="like" ref="like" :class="'like ' + like_classes">
                                    <i ref="like_icon" class="fi fi-rr-circle-heart"></i>
                                    <small>{{ likes }}</small>
                                </div>
                                <div v-if="iw" @click="delete_" ref="trash" class="like trash">
                                    {{ delete_button }} <i ref="itrash" class="fi fi-rr-trash-xmark"></i>
                                </div>
                                </a>
                            </div>
                        </div>
                    `,
    });

    Vue.component("user", {
        props: ["img", "score", "href", "username"],
        template: `
                        <div style="transform: scale(.7);margin-left: 23%;" dir="rtl" class="user">
                                <a :href="href">
                                    <img :src="img" />
                                </a>
                                <a :href="href">
                                    <div>
                                        <p>
                                            {{ username }}

                                        </p>
                                        <small>🪙{{ score }}</small>
                                    </div>
                                </a>
                            </div>
                        `,
    });
    new Vue({
        el: "#app",
    });
</script>
{% endraw %}
{% endblock %}