{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="/static/css/search.css" />
<link rel="stylesheet" href="/static/css/home.css" />
{% endblock %}


{% block Title %}جستجو{% endblock %}


{% block content %}
<div id="app">
    <navbar active_item="search"></navbar>
    <search></search>
    <div class="flex flex-none flex-col items-center">
        {% if search %}
        {% if not result %}
        <p class="p" dir="rtl">نتیجه ای یافت نشد!</p>
        {% endif %}
        {% for post in result %}
        <post {% if post.writer==current_user %} iw="True" {% endif %}
                content="{{ post.content }}" id="{{ post.id }}"
                image="{{ post.img }}"
                username="{{ post.writer.username }}" avatar="{{ post.writer.avatar }}" date="{{ fAge(post.date) }}"
                classes="post img-container min-h-40 rounded-xl mb-5 p-3 bg-[#fefefe] w-4/5 " {% if Like.query.filter_by(liked=post.id, liker=current_user.id).all() %}
                like_classes="liked" {% endif %} likes="{{ Like.query.filter_by(liked=post.id).all() | length }}" comment_length="{{ Comment.query.filter_by(post=post, deleted=False).all() | length }}">
            </post>
        {% endfor %}

        {% endif %}
    </div>
</div>
<script src="/static/library/vuetify.js"></script>

<script>
    Vue.component("search", {
        data(){
            return {
                focused: false
            }
        },
        methods: {
            submit() {
                // this function is for submit search
                if (
                    this.$refs.search_input.value.replace(/\s/g, "") != ""
                ) {
                    setTimeout(() => {
                        this.$refs.root.submit();
                    }, 500);
                }
            },
        },
        template: `
                    <form autocomplete="false" class="relative" ref='root' action="">
                        <div class="inp-con flex-col flex items-center justify-center w-full">
                            <input autocomplete="off" :class="{'input-shadow': !focused}" @focus="focused=true" @blur="setTimeout(()=> focused=false, 100)" value="{{ search_value }}" ref="search_input" required type="search" name="q">
                            <div v-if="focused" :class="{'input-shadow': !focused, 'flex-col input-box pt-10 mb-5 flex flex-none justify-center align-center w-4/5 p-5 bg-white': true}">
                                {% for hashtag in hashtags[:5] %}
                                    <a href="/search?q=%23{{ hashtag }}" dir="rtl" class="hover:bg-[#e9e9e9] text-[#3b3b3b] p-1 w-full cursor-pointer rounded inline-block">#{{ hashtag }}</a>
                                {% endfor %}
                            </div>
                            <v-btn class="mt-10" @click="submit" x-large color="blue">جستجو</v-btn>
                        </div>
                    </form>
                `,
    });
</script>
{% raw %}
<script> 
    // {% endraw %}
    // {% include "inc/post.js" %}
    // {% raw %}
    Vue.component("user", {
        props: ["img", "score", "href", "username"],
        template: `
                        <div style="transform: scale(.7);margin-left: 23%;" dir="rtl" class="user">
                                <a :href="href">
                                    <img :src="img" />
                                </a>
                                <a :href="href">
                                    <div>
                                        <p>
                                            {{ username }}

                                        </p>
                                        <small>🪙{{ score }}</small>
                                    </div>
                                </a>
                            </div>
                        `,
    });
    new Vue({
        el: "#app",
    });
</script>
{% endraw %}
{% endblock %}