{% extends "base.html" %}

{% block head %}
<link rel="stylesheet" href="/static/css/security_p.css" />
{% endblock %}


{% block Title %}امنیت{% endblock %}


{% block content %}
<div id="app">
    <navbar></navbar>
    <header>
        <img src="https://cdn-icons-png.flaticon.com/512/1040/1040247.png" alt="Security image">
        <h1>امنیت حساب خود را افزایش دهید</h1>
    </header>
    <div @click="location.href = '/me#passwordB'" class="session">
        تغییر رمز عبور<br />
        <small>رمز عبور خود را تغییر دهید</small>
        <img src="https://cdn-icons-png.flaticon.com/512/10473/10473528.png" alt="Password">
    </div>
    <div @click="location.href = '/recodes'" class="session">
        مدیریت کلید های بازیابی<br />
        <small>اگر رمز عبور حساب خود را فراموش کردید، با استفاده از این کلید ها، آن را بازیابی کنید</small>
        <img src="https://cdn-icons-png.flaticon.com/512/3039/3039427.png" alt="Security Keys">
    </div>
</div>

{% raw %}
<script>
    app = new Vue({
        el: "#app",
        data: {}
    })
</script>
{% endraw %}
{% endblock %}